.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar {
    color: white;
    background-color: rgb(36, 36, 36);
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}