<mat-card style="width: 80%; margin: 15px auto;">
  <mat-card-actions>
     <button  mat-raised-button (click)="fade('register')"  class="L10" matTooltip="Agregar Operaciòn" matTooltipPosition="below" color="accent">
        <mat-icon layout-padding>add</mat-icon> Nueva Operación</button>  
  </mat-card-actions>
<div *ngIf="fadeDiv == 'listado'">
 <div >
  <!-- <ng-template mat-tab-label><mat-icon layout-padding>business</mat-icon>Operaciones</ng-template> -->
  <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
    <div flex-gt-xs="100">
        <mat-card-header style="text-align: center;">
          <mat-icon mat-card-avatar color="accent">store</mat-icon>
          <mat-card-title class="mat-title">Operaciones</mat-card-title>
        </mat-card-header>  
        <mat-card-content>
           <mat-divider></mat-divider>
              <mat-list>
                <ng-template let-item let-last="last" ngFor [ngForOf]="operaciones">
                  <mat-list-item style="cursor: pointer;" (click)="passOperacion(item)">
                    <img *ngIf="!item.img" mat-list-avatar src="assets/airport.svg">
                    <img *ngIf="item.img" mat-list-avatar src="{{item.img}}">
                    <h3 mat-line style="color:blue"> {{item.titulo}} </h3>
                    <!-- <h3 mat-line style="color:blue"> {{item.name}} </h3> -->
                    <button mat-icon-button  matTooltip="Ver" matTooltipPosition="above">
                        <mat-icon>store</mat-icon>
                    </button>
                  </mat-list-item>
                  <mat-divider *ngIf="!last" mat-inset></mat-divider>
                </ng-template>
              </mat-list>
              <mat-divider></mat-divider>
        </mat-card-content> 
    </div>
  </div>
 </div> 
</div>
<div *ngIf="fadeDiv == 'register'">
  <mat-card-content>
        <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
          <div flex-gt-xs="100">
              <mat-card-content>
                <mat-card-header>
                 
                  <mat-icon mat-card-avatar color="accent">store</mat-icon>
                  <mat-card-title class="mat-title">Registrar Operación</mat-card-title>
                </mat-card-header>
                  <mat-card-content flex="100" layout-align="center center">
                    <form #companyForm="ngForm" style="font-size: 1.3em;">
                      <div  layout="row" flex="100" >
                        <mat-form-field flex="100">
                          <input matInput  class="text-upper" placeholder="Id | NIT | C.C." type="number" name="operacioncodigo" [(ngModel)]="operacion.codigo" required>
                          
                        </mat-form-field>

                        <!-- <mat-form-field flex="100">
                          <input matInput  placeholder="Digito Verificacion" type="number" name="operacioncodigo" [(ngModel)]="operacion.dv" required>
                        
                        </mat-form-field> -->
                      </div>
                      <div layout="row" flex="100" > 
                        <mat-form-field style="width: 100%;" >
                          <input matInput  class="text-upper" placeholder="Nombre de Juridico" type="text" name="operaciontitulo" [(ngModel)]="operacion.titulo" required>
                         
                        </mat-form-field>
                      </div>
                
                    </form>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions>

                    <div layout="row" style="text-align: center;">
                      <button *ngIf="!operacion._id" flex mat-raised-button   (click)="Register()" color="accent"> Registrar Operación <mat-icon layout-padding>send</mat-icon></button>
                      <button *ngIf="operacion._id" flex mat-raised-button   (click)="updateOperacion()" color="primary"> Guardar Operación <mat-icon layout-padding>edit</mat-icon></button>
                      <button *ngIf="operacion._id" flex mat-raised-button   (click)="deleteOperacion()" color="warn"> Eliminar Operación <mat-icon layout-padding>cancel</mat-icon></button>
                    </div>
                  </mat-card-actions>
              </mat-card-content> 
          </div>
        </div>
  </mat-card-content>       
</div>

</mat-card>