<mat-card>
<h1 style="text-align: center;">Configuracion {{pOperacion.titulo}}
  <button *ngIf="!config._id"   mat-raised-button aria-label="Clear" color="accent" (click)="guardarConfigurcion()">
    <mat-icon>save</mat-icon> Guardar Configuracion  </button>
  <button *ngIf="config._id"  mat-raised-button aria-label="Clear" color="accent" (click)="updateConfiguracion()">
      <mat-icon>save</mat-icon> Editar Configuracion</button>
</h1>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>cell_tower</mat-icon>  Siigo API | Configuracion Operacion
        </mat-panel-title>
      
      </mat-expansion-panel-header>
      <mat-card-content> 
        <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>siigoUser</mat-label>
            <input matInput type="text" [(ngModel)]="config.siigoUser">
          </mat-form-field>
          <mat-form-field style="width: 60%;" appearance="fill">
            <mat-label>siigoKey</mat-label>
            <input matInput type="text" [(ngModel)]="config.siigoKey">
          </mat-form-field>

          <mat-form-field style="width: 60%;" appearance="fill">
            <mat-label>Consecutivo Costo</mat-label>
            <input matInput type="number" [(ngModel)]="config.consecutivoCompCosto">
          </mat-form-field>

          <mat-form-field style="width: 60%;" appearance="fill">
            <mat-label>Consecutivo Venta</mat-label>
            <input matInput type="number" [(ngModel)]="config.consecutivoCompVenta">
          </mat-form-field>


          

      </mat-card-content>
      <mat-card-content>
        <h3> Operacion</h3>
        <mat-form-field style="width: 400px; text-align: center;">
          <input matInput placeholder="TRM USD" type="number"  name="trm_usd" [(ngModel)]="config.dataOperacion.trm_usd" required>
        </mat-form-field>
        <mat-form-field style="width: 400px; text-align: center;">
          <input matInput placeholder="TRM EURO" type="number"  name="trm_euro" [(ngModel)]="config.dataOperacion.trm_euro" required>
        </mat-form-field>
        <mat-form-field style="text-align: center;">
          <input matInput placeholder="C.C/ NIT" type="number"  name="facturacioncodigo" [(ngModel)]="config.dataOperacion.identification_number" required>
        </mat-form-field>
        <mat-form-field style="width: 100px; text-align: center;">
          <input matInput placeholder="Digto Verificacion" type="number"  name="facturacioncodigo" [(ngModel)]="config.dataOperacion.dv" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; text-align: center;">
          <input matInput placeholder="Nombre Juridico" type="text" style="width: 100%;"  name="business_name" [(ngModel)]="config.dataOperacion.business_name" required>
        </mat-form-field>


        <mat-form-field style="width: 100%; text-align: center;">
          <input matInput placeholder="Direccion" type="text"  name="address" [(ngModel)]="config.dataOperacion.address" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px; text-align: center;">
          <input matInput placeholder="Telefono" type="number"  name="phone" [(ngModel)]="config.dataOperacion.phone" required>
        </mat-form-field>
        <mat-form-field style="width: 400px; text-align: center;">
          <input matInput placeholder="Correo ELectronic" type="text"  name="email" [(ngModel)]="config.dataOperacion.email" required>
        </mat-form-field>
      </mat-card-content>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>mail</mat-icon>  GMAIL
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <mat-card-content> 
        <div layout="row">
          <mat-form-field >
            <input matInput  placeholder="EMAIL GOOGLE" name="nota" [(ngModel)]="config.emailSalida" required >
          </mat-form-field>

          <mat-form-field  style="margin-left: 10px;" >
            <input matInput  placeholder="Clave de Usuario" name="nota" [(ngModel)]="config.passEmailSalida" required >
          </mat-form-field>

          <ng-template class="flex" let-item let-i="index" ngFor [ngForOf]="config.notificar">
            <p> {{item}} 
                <button  mat-icon-button (click)="deleteEmail(i)" matTooltip="Eliminar" matTooltipPosition="above">
                    <mat-icon >delete</mat-icon>
                </button>
            </p>  
        </ng-template> 
      
        </div>

        <div layout="row">
          <mat-form-field class="example-full-width">
            <input matInput  placeholder="Correo Notificar Cierre" name="nota" [(ngModel)]="email" required >
          </mat-form-field>
          <button *ngIf="email"  mat-mini-fab [disabled]="" (click)="addEmail()" class="bgc-blue-400 rigth" matTooltip="Guardar" matTooltipPosition="below"><mat-icon>add</mat-icon></button>  
        </div>
      </mat-card-content>
    </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>import_export</mat-icon>
              IMPORTAR INFORMACION
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-card-content> 
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Activo</mat-checkbox>
          <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>TAG-INFO</mat-label>
              <input matInput type="text" [(ngModel)]="tag">
              <button *ngIf="tag" matSuffix mat-icon-button aria-label="Clear" (click)="addTag()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>

          <mat-nav-list>
            <ng-template let-item let-i="index" ngFor [ngForOf]="config.tags">
              <mat-list-item >
                <button mat-icon-button (click)="deleteTag(i)">
                  <mat-icon>delete</mat-icon>
               </button>
                <mat-checkbox class="example-margin" [(ngModel)]="item.Activo">Activo</mat-checkbox>
                 <h5 style="margin:0 10px;">{{ item.tag }}</h5>
                
              </mat-list-item>
            </ng-template>
           
            
          </mat-nav-list>

        </mat-card-content>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>monetization_on</mat-icon>  CATEGORIAS PRESUPUESTO <span style="color: red; margin-left: 20px;" *ngIf="catParticipacion != 0 ">{{catParticipacion | number:'0.0-3'}}%</span>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-card-content *ngIf="categoria._id != 0 || nuevo "> 
          <div style="display: flex; align-items: flex-end; width: 100%;">
            <button *ngIf="categoria._id == 0" mat-stroked-button  aria-label="Clear" (click)="addCategoria()">
              <mat-icon>add</mat-icon> Agregar
            </button>
            <button *ngIf="categoria._id != 0" mat-stroked-button  aria-label="Clear" (click)="editCategoria()">
              <mat-icon>edit</mat-icon> Editar
            </button>
            <button *ngIf="categoria._id != 0" mat-stroked-button aria-label="Clear" (click)="editCategoria()">
              <mat-icon>delete</mat-icon> Eliminar
            </button>
          </div>
          <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>titulo</mat-label>
            <input matInput type="text" [(ngModel)]="categoria.titulo">
          </mat-form-field>
          <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>participacion</mat-label>
            <input matInput type="number" (change)="cambioParticipacion(categoria)" [(ngModel)]="categoria.participacion" >
          </mat-form-field>
          <mat-card-content style="display:flex;">
            <h5>Sub categorias</h5>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Cod Sub Categoria</mat-label>
              <input matInput type="number" [(ngModel)]="subscat">
              <button *ngIf="subscat" matSuffix mat-icon-button aria-label="Clear" (click)="addSubscat()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
            <mat-nav-list>
              <ng-template let-item let-i="index" ngFor [ngForOf]="categoria.subscat">
                <mat-list-item >
                  <button mat-icon-button (click)="deleteSubscat(i)">
                    <mat-icon>delete</mat-icon>
                 </button>
                   <h5 style="margin:0 10px;">{{ item }}</h5>
                </mat-list-item>
              </ng-template> 
            </mat-nav-list>
          </mat-card-content>
          <mat-card-content style="display:flex; flex-wrap: wrap;">
            <h5>Sub Cumplimientos
              <div style="display: flex;">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="addCumpli()">
                  <mat-icon>add</mat-icon>
                </button>
                <button matSuffix mat-icon-button aria-label="Clear" (click)="editCumplimiento()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            
            </h5>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>inicia</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.inicia">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>finaliza</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.finaliza">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>asesor</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.asesor">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>asesorSking</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.asesorSking">
            </mat-form-field>
            <!-- <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>lider</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.lider">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>subGerente</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.subGerente">
            </mat-form-field>
       
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Gerente</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.gerente">
            </mat-form-field> -->
    
  
          </mat-card-content>
          <mat-nav-list>
            <ng-template let-item let-i="index" ngFor [ngForOf]="categoria.cumplimientos">
              <mat-list-item >
                <!-- <button mat-icon-button (click)="deleteCumplimiento(i)">
                  <mat-icon>delete</mat-icon>
               </button> -->
                 <h5 (click)="pasCumplimiento(item)"  style="margin:0 10px;">Inicia %: {{ item.inicia }} finaliza %: {{ item.finaliza }} 
                  asesor % {{ item.asesor }} 
                  <!-- asesorSking % {{ item.asesorSking }} 
                  lider % {{ item.lider }} 
                  subGerente % {{ item.subGerente }}
                  Gerente % {{ item.gerente }}   -->
                </h5>
              </mat-list-item>
            </ng-template>
           
            
          </mat-nav-list>
  
        
        </mat-card-content>
        <mat-card-content *ngIf="categoria._id == 0 &&!nuevo ">
          <h2>Listado Categorias 
            <button matSuffix mat-icon-button aria-label="Clear" (click)="nuevo = true">
              <mat-icon>add</mat-icon>
            </button>
          </h2>
          <mat-nav-list>
            <ng-template let-item let-i="index" ngFor [ngForOf]="config.categorias">
              
              <mat-list-item >
                <button mat-icon-button (click)="deleteCategoria(i)">
                  <mat-icon>delete</mat-icon>
               </button>
                 <h5 style="margin:0 10px;" (click)="pasCategoria(item)" >
                  {{item.titulo}} Participacion {{item.participacion}}%
                </h5>
              </mat-list-item>
            </ng-template>
           
            
          </mat-nav-list>
          

        </mat-card-content>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>store_mall_directory</mat-icon> TIENDAS PARTICIPACION PRESUPUESTO
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-card-content>   
          <button *ngIf="tienda._id" mat-stroked-button  aria-label="Clear" (click)="editTienda()" color="primary" style="margin-right: 20px;">
          <mat-icon>save</mat-icon> Guardar Tienda
        </button>
        <button *ngIf="!tienda._id && tienda.part" mat-stroked-button  aria-label="Clear" (click)="addTienda()" color="primary" style="margin-right: 20px;">
          <mat-icon>add</mat-icon> Agregar Tienda
        </button>
      
          <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input matInput type="text" [(ngModel)]="tienda.tienda">
          </mat-form-field>
            <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>Centro Costos</mat-label>
            <input matInput type="text" [(ngModel)]="tienda.centro_costos">
          </mat-form-field>

          <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="tienda.nombre">
          </mat-form-field>

          <mat-form-field style="width:80% ;">
            <mat-label>Resolucion Facturacion</mat-label>
            <textarea matInput name="protocolo" [(ngModel)]="tienda.resolucion"></textarea>
          </mat-form-field>
          <mat-form-field style="margin-right: 25px;" appearance="fill">
            <mat-label>participacion</mat-label>
            <input matInput type="number" [(ngModel)]="tienda.part">
           
          </mat-form-field>
          <mat-card-content style="display:flex; flex-wrap: wrap;">
            <h5>Sub Cumplimientos
              <div style="display: flex;">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="addCumpliTienda()">
                  <mat-icon>add</mat-icon>
                </button>
                <button matSuffix mat-icon-button aria-label="Clear" (click)="editCumplimiento()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            
            </h5>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>inicia</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.inicia">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>finaliza</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.finaliza">
            </mat-form-field>
            <!-- <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>asesor</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.asesor">
            </mat-form-field> -->
            <!-- <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>asesorSking</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.asesorSking">
            </mat-form-field> -->
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>lider</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.lider">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Gerente Ventas</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.subGerente">
            </mat-form-field>
       
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Gerente</mat-label>
              <input matInput type="number" [(ngModel)]="cumplimiento.gerente">
            </mat-form-field>
  
          </mat-card-content>
          <mat-nav-list>
            <ng-template let-item let-i="index" ngFor [ngForOf]="tienda.cumplimientos">
              <mat-list-item >
                <!-- <button mat-icon-button (click)="deleteCumplimiento(i)">
                  <mat-icon>delete</mat-icon>
               </button> -->
                 <h5 (click)="pasCumplimiento(item)"  style="margin:0 10px;">Inicia %: {{ item.inicia }} finaliza %: {{ item.finaliza }} 
                  <!-- asesor % {{ item.asesor }} 
                  asesorSking % {{ item.asesorSking }}  -->
                  lider % {{ item.lider }} 
                  Gerente Ventas% {{ item.subGerente }}
                  Gerente % {{ item.gerente }}  
                </h5>
              </mat-list-item>
            </ng-template>
           
            
          </mat-nav-list>
        </mat-card-content>
        <mat-nav-list>
          <ng-template let-item let-i="index" ngFor [ngForOf]="config.tiendas">
            <mat-list-item >
              <button mat-icon-button (click)="deleteTienda(i)">
                <mat-icon>delete</mat-icon>
             </button>
               <h5 style="margin:0 10px;" (click)="pastienda(item)" > {{ item.tienda }} Participacion %: {{ item.part }} 
              </h5>
            </mat-list-item>
          </ng-template> 
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>emoji_people</mat-icon> EMPLEADOS PRESUPUESTO
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-card-content> 
          <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>identificacion</mat-label>
              <input matInput type="text" [(ngModel)]="empleado.identificacion">
            </mat-form-field>
            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>contrato</mat-label>
              <input matInput type="text" [(ngModel)]="empleado.contrato">
            </mat-form-field>
            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>codigo</mat-label>
              <input matInput type="text" [(ngModel)]="empleado.codigo">
            </mat-form-field>
            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>Nombres Completos</mat-label>
              <input matInput type="text" [(ngModel)]="empleado.name">
            </mat-form-field>
            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>email</mat-label>
              <input matInput type="email" [(ngModel)]="empleado.email">
            </mat-form-field>
            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>clave</mat-label>
              <input matInput type="password" [(ngModel)]="empleado.clave">
              <button matSuffix mat-icon-button aria-label="Clear" (click)="resetPassEmpleado()">
                <mat-icon>password</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-right: 20px;">
              <mat-label>Rol</mat-label>
              <mat-select [(ngModel)]="empleado.rol">
                <ng-template let-item let-i="index" ngFor [ngForOf]="Roles">
                <mat-option [value]="item">
                  {{ item }}
                </mat-option>
                </ng-template>
              </mat-select>
            </mat-form-field>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="addEmpleado()">
              <mat-icon>add</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="editEmpleado()">
              <mat-icon>edit</mat-icon>
            </button>
            <input type="text" placeholder="Buscar" style="font-size:x-large; text-align: center; margin: 0 10px;" [(ngModel)]="search">
          
        </mat-card-content>
        <mat-card-content>
          
          <table style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
            <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
           
              <tr>
                <th>{{config.empleados.length}}</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRES</th>
                <th>CODIGO VENTAS</th>
                <th>CONTRATO</th>
                <th>ROL</th>
                <th>
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="resetPassEmpleados()">
                  <mat-icon>password</mat-icon>
                </button></th>
                <th></th>
              </tr>
            </thead>
            <ng-template let-item let-i="index" ngFor [ngForOf]="config.empleados">
              <tr *ngIf="buscarRegistro(item.name)">
                <td style="text-align:center ;">{{i+1}}</td>
                <td (click)="pasEmpleado(item)" style="text-align: center;cursor: pointer;">{{ item.identificacion }}  </td>
                <td (click)="pasEmpleado(item)" style="text-align: center;cursor: pointer;">{{ item.name }}</td>
                <td (click)="pasEmpleado(item)" style="text-align: center;cursor: pointer;">{{ item.codigo }}</td>
                <td (click)="pasEmpleado(item)" style="text-align: center;cursor: pointer;">{{ item.contrato }} </td>
                <td (click)="pasEmpleado(item)" style="text-align: center;cursor: pointer;">{{ item.rol }}</td>
                <td (click)="pasEmpleado(item)" style="text-align: center;cursor: pointer;">{{ item.clave }}</td>
                <td style="text-align: center;cursor: pointer;"> <button mat-icon-button  (click)="deleteEmpleado(i)" >
                  <mat-icon>delete</mat-icon>
                </button></td>
              </tr>
            </ng-template>

          </table>

          <!-- <mat-nav-list>
          <ng-template let-item let-i="index" ngFor [ngForOf]="config.empleados">
            <mat-list-item  style="display: flex;">

             
               <h5  mat-line style="margin:0 10px; cursor: pointer;"  >
                <button mat-icon-button  (click)="deleteEmpleado(i)" >
                  <mat-icon>delete</mat-icon>
                </button>
                <span (click)="pasEmpleado(item)">   </span>
                
                  </h5>
            </mat-list-item>
          </ng-template> 
          </mat-nav-list> -->
        </mat-card-content>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>tv</mat-icon>
               CONSECUTIVOS NOTAS DE VENTA POS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
          <mat-form-field style="margin-right: 20px;" appearance="fill">
            <mat-label>Resolucion</mat-label>
            <input matInput type="text" [(ngModel)]="consecutivo.resolucion">
          </mat-form-field>

          <mat-form-field style="margin-right: 20px;" appearance="fill">
            <mat-label>Prefijo</mat-label>
            <input matInput type="text" [(ngModel)]="consecutivo.prefix">
          </mat-form-field>

          <mat-form-field style="margin-right: 20px;" appearance="fill">
            <mat-label>Consecutivo</mat-label>
            <input matInput type="number" name="consecutivo" [(ngModel)]="consecutivo.consecutivo">
          </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 20px;">
              <mat-label>Tienda</mat-label>
              <mat-select [(ngModel)]="consecutivo.tienda">
                <ng-template let-item let-i="index" ngFor [ngForOf]="config.tiendas">
                <mat-option [value]="item.tienda">
                  {{ item.tienda }}
                </mat-option>
                </ng-template>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width:80% ;">
              <mat-label>Protocolo Facturacion</mat-label>
              <textarea matInput name="protocolo" [(ngModel)]="consecutivo.protocolo"></textarea>
            </mat-form-field>

            <button  *ngIf="!consecutivo._id" [disabled]="" mat-raised-button aria-label="Clear" color="accent" (click)="saveResolucion()">
              <mat-icon>change_circle</mat-icon> Guardar Resolucion</button>
            <button *ngIf="consecutivo._id"  [disabled]="" mat-raised-button aria-label="Clear" color="primary" (click)="updateConsecutivo()">
                <mat-icon>change_circle</mat-icon> Guardar Resolucion</button>

        </mat-card-content> 
        <mat-nav-list>
          <ng-template let-item let-i="index" ngFor [ngForOf]="consecutivos">
            <mat-list-item >
              <button mat-icon-button (click)="deleteConsecutivo(item._id)">
                <mat-icon>delete</mat-icon>
             </button>
               <h5 style="margin:0 10px;" (click)="pasConsecutivo(item)" > {{ item.tienda }} Prefijo: {{ item.prefix }}  Resolucion: {{item.resolucion}}
              </h5>
            </mat-list-item>
          </ng-template> 
        </mat-nav-list> 
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>code</mat-icon>
             Developer
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-card-content> 
         
            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>Base de Datos</mat-label>
              <input matInput type="text" [(ngModel)]="dataBase">
            </mat-form-field>

            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>Coleccion Actual</mat-label>
              <input matInput type="text" [(ngModel)]="collOrigin">
            </mat-form-field>

            <mat-form-field style="margin-right: 20px;" appearance="fill">
              <mat-label>Nuevo Nombre</mat-label>
              <input matInput type="text" [(ngModel)]="collNew">
            </mat-form-field>

            <button [disabled]="!collOrigin || !collNew" mat-raised-button aria-label="Clear" color="accent" (click)="renameCollecction()">
              <mat-icon>change_circle</mat-icon> Cambiar Nombre Collection</button>
        </mat-card-content>
        
            
       <mat-card-content>
        <h3>Agregar Productos</h3>
        <input  type="file" multiple="false" (change)="onFileChange($event)" style="font-size: 1.3em; margin-left: 10px;">
       
        <button [disabled]="registros.length == 0" mat-raised-button aria-label="Clear" color="warn" (click)="AgregarProductos()">
          <mat-icon>save</mat-icon> Agregar Productos</button>
        </mat-card-content>

        
      </mat-expansion-panel>
    
  </mat-accordion>
</mat-card>