
<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="log" ></mat-progress-bar> 
  <h2 style="text-align: center;">COMPROBANTES SIIGO
    <span>{{procesado}}</span>
  </h2>
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="CARGAR INFORMES" style="width: 100%;">
  <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    <mat-form-field appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px; margin-top: 15px;">
      <mat-label>Fecha Comprobante</mat-label>
      <input matInput placeholder="Data Base" type="date" name="date" [(ngModel)]="comprobante.date">
    </mat-form-field>

    <h3 *ngIf="fileName && comprobante.date">Archivo: {{fileName }}</h3>
      <div *ngIf="!fileName && comprobante.date">
        <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload>
          <div style="margin: 20px 20px;">
            <h3>{{fileName || "INFORMACION DAVIVIENDA"}}</h3>
            <button mat-stroked-button color="warn" class="upload-btn"
              (click)="fileUpload.click()"> DAVIVIENDA
                <mat-icon>attach_file</mat-icon>
            </button>
            <p>1. Elimina las cifras del encabezado</p>
            <p>2 .Remplaza la Coma (/) por Barra (|)</p>
            <p>2 .Elimina simbolo moneda ($)</p>
            <p>3. Guarda el documento como libro de excel</p>
          </div>
      </div >
      
      <div *ngIf="!fileName && comprobante.date">
        <input type="file" class="file-input"
        (change)="onFileSelectedItau($event)" #fileUploaditau>
          <div style="margin: 20px 20px;">
            <h3>{{fileName || "INFORMACION BANCO ITAU"}}</h3>
            <button mat-stroked-button color="accent" class="upload-btn"
              (click)="fileUploaditau.click()"> BANCO ITAU
                <mat-icon>attach_file</mat-icon>
            </button>
            <p>1. Quita las cifras del encabezado</p>
            <p>2 .Remplaza la Coma (,) por vacio ()</p>
          </div>
      </div>
    </div>
  <!-- <button *ngIf="registros.length != 0" flex mat-raised-button color="accent" [disabled]="log"  (click)="saveInfoCompleto(registros)" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px;"> {{registros.length}} Documentos - Registrar Informacion<mat-icon layout-padding>send</mat-icon></button> -->
  <!-- <button *ngIf="dataSource" flex mat-raised-button color="accent" [disabled]="progreso != 0"  (click)="authSiigo(tag)" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px;">  Generar PDF {{documentos.length}} Respaldo POS <mat-icon>update_file</mat-icon></button> -->
  <div *ngIf="registros.length !=0" style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%; margin: 0 auto;">
    <!-- <mat-form-field appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px;">
      <mat-label>Fecha Comprobante</mat-label>
      <input matInput placeholder="Data Base" type="date" name="date" [(ngModel)]="date">
    </mat-form-field>
    <mat-form-field appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px;">
      <mat-label>observaciones</mat-label>
      <input matInput [disabled]="!date" placeholder="Data Base" type="text" name="observaciones" [(ngModel)]="obs">
    </mat-form-field> -->
    <mat-chip-list  style="margin: 0 auto; font-size: 3em;">
      <ng-template let-doc let-i="index" ngFor [ngForOf]="lotesCmprobantes">
        <mat-chip color="accent"  [class._100]=" procesado != 0 &&i <= procesado" [disabled]="!obs || log">
          <mat-chip-avatar>
            <img src="assets/metas.svg" alt="Photo of a Shiba Inu"/>
              </mat-chip-avatar>
              {{i + 1}}- {{doc.length}} Lote Comprobante
          </mat-chip>
      </ng-template>
      
    </mat-chip-list>
     <button *ngIf="date && obs" flex mat-stroked-button color="accent" [disabled]="log"  (click)="procesarInformacion()" class="text-upper"> Subir {{registros.length}} Generar Comprobante <mat-icon>save</mat-icon></button>
     <!-- <button *ngIf="procesado == lotesCmprobantes.length " flex mat-raised-button color="warn" [disabled]=""  (click)="reload()" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px; color: white;"> se registraron los comprobamtes agregar nuevos<mat-icon>refresh</mat-icon></button> -->
  </div>

 <span *ngIf="progreso != 0" style="color: blue;">{{progreso | number:'0.0-2'}}% </span> <mat-progress-bar *ngIf="progreso != 0" mode="determinate" [value]="progreso" color="accent" style="width: 90%; margin: 0 auto;"></mat-progress-bar>  
 <table *ngIf="dataSource" mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8" style="width: 90%; margin: 0 auto;">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container  matColumnDef="folio">
      <th mat-header-cell  *matHeaderCellDef > FOLIO. </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="usd">
      <th mat-header-cell *matHeaderCellDef> USD </th>
      <td mat-cell *matCellDef="let element"> {{element.Usd | number}} </td>
    </ng-container> -->
   
    <ng-container matColumnDef="unds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIDADES </th>
      <td mat-cell *matCellDef="let element"> {{element.Unidades | number}} </td>
    </ng-container>
    <ng-container matColumnDef="cop">
      <th mat-header-cell *matHeaderCellDef> COP </th>
      <td mat-cell *matCellDef="let element"> {{element.Cop | number }} </td>
    </ng-container>
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> ARTICULOS </th>
      <td mat-cell *matCellDef="let element">{{element.Detalle.length }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    </mat-tab>
    <mat-tab label="Nuevo Compronbante" style="width: 100%;">  
    <div>
      <table style="width: 80%; margin: 20px auto;">
        <tr>
          <td>
            <mat-form-field appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px;">
              <mat-label>Fecha Comprobante</mat-label>
              <input matInput   [disabled]="comprobante._id" placeholder="FECHA" type="date" name="tag" [(ngModel)]="comprobante.date">
            </mat-form-field>
          </td>
          <td>    
            <mat-form-field appearance="fill">
            <mat-label>Comprobante</mat-label>
            <mat-select [(ngModel)]="comprobante.iddoc" [disabled]="comprobante._id">
              <mat-option *ngFor="let item of config.comprobantes" [value]="item.idSiigo">
                {{item.titulo}} - {{item.descripcion}}
              </mat-option> 
            </mat-select>
          </mat-form-field> 
        </td>
        <td>
          <mat-form-field appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px;">
            <mat-label>observaciones</mat-label>
            <input matInput placeholder="Observaciones" [disabled]="comprobante._id" type="text" name="comprobanteobs" [(ngModel)]="comprobante.obs">
          </mat-form-field>
        </td>
          <td>    
            <mat-form-field appearance="fill">
            <mat-label>Agregar Cuenta</mat-label>
            <mat-select [(ngModel)]="cuenta" [disabled]="comprobante._id">
              <mat-option *ngFor="let item of config.cuentas" [value]="cuenta"  (click)="addCuenta(item)">
                {{item.cuenta}} - {{item.titulo}} - {{item.descripcion}}
              </mat-option> 
              <mat-option [value]="cuenta"  (click)="addCuentaBorrador()">
                  Cuenta - Borrador
              </mat-option>
            </mat-select>
          </mat-form-field>
         </td>
         <td >
          <button  *ngIf="credit && credit == debit && comprobante.obs && !comprobante._id" flex mat-raised-button color="warn" [disabled]=""  (click)="saveComprobante()" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px; color: white;"> Generar Comprobante<mat-icon>save</mat-icon></button> 
          <button  *ngIf="comprobante._id" flex mat-raised-button color="warn" [disabled]=""  (click)="nuevo()" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px; color: white;"> Nuevo<mat-icon>refresh</mat-icon></button>  
        </td>
        </tr>
        <tr *ngIf="comprobante._id">
          <th>Siigo Id</th><td>{{comprobante.id}}</td>
          <th>Folio</th><td>{{comprobante.name}}</td>
          <th>Fecha</th><td>{{comprobante.date}}</td>
        </tr>
        <tr>
          <th>CENTRO COSTO</th>
          <th>CUENTA</th>
          <th>MOVIMIENTO</th>
          <th>TERCERO</th>
          <th>DESCRIPCION</th>
          <th>VALOR</th>
        </tr>
        <tr *ngFor="let item of comprobante.data">
          <!-- <td>{{item | json}}</td> -->
          <td style="text-align: center;">
            <mat-form-field style="text-align: center;">
            <input matInput placeholder=""  [disabled]="comprobante._id" type="text" style="width: 100%;"  name="item.cost_center" [(ngModel)]="item.cost_center" >
            </mat-form-field>
          </td>
          <td style="text-align: center;">
            <mat-form-field style="text-align: center;">
            <input matInput placeholder="" [disabled]="comprobante._id" type="text" style="width: 100%;"  name="item.account.code" [(ngModel)]="item.account.code" >
            </mat-form-field>
          </td>
          <td style="text-align: center;">
            <mat-form-field >
              <mat-select placeholder="Tipo" [(ngModel)]="item.account.movement" [disabled]="comprobante._id">
                <mat-option [value]="'Credit'" >
                  Credit
                </mat-option> 
                <mat-option [value]="'Debit'">
                   Debit
                </mat-option>
              </mat-select>
            </mat-form-field>
  
          </td>
          <td style="text-align: center;">
            <mat-form-field style="text-align: center;">
            <input matInput placeholder=""  [disabled]="comprobante._id" type="text" style="width: 100%;"  name="item.customer.identification" [(ngModel)]="item.customer.identification" required>
            </mat-form-field>
          </td>
          <td style="text-align: center;">
            <!-- <mat-form-field style="text-align: center;"> -->
              
              <textarea [disabled]="comprobante._id" style="font-size: 1em; text-align: center; border-radius: 5px;" type="text" placeholder="DESCRIPCION" [(ngModel)]="item.description"></textarea>
              <!-- <input matInput placeholder="DESCRIPCION" [disabled]="comprobante._id" type="text" style="width: 400px;"  name="item.description" [(ngModel)]="item.description" required> -->
            <!-- </mat-form-field> -->
          </td>
          <td style="text-align: center;">
            <mat-form-field style="text-align: center;">
            <input matInput placeholder="Valor" [disabled]="comprobante._id"  (keyup)="totalizarComprobante()" type="number" style="width: 100%;"  name="item.value" [(ngModel)]="item.value" required>
          </mat-form-field>
        </td>
        </tr>
        <tr>
          <th> Total Creditos</th>
          <th>  {{credit | number}}</th>
          <th> Total DEBITOS</th>
          <th> {{debit | number}}</th>
        </tr>
  
      </table>
    </div>
    </mat-tab>
    <mat-tab label="Listado" style="width: 100%;">
      <table style="width: 90%; margin: 0 auto; font-size: 1.3em;" class="mat-elevation-z8">
        <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
          <tr>
            <th>FECHA</th>
            <th>COMPROBANTE</th>
            <th>CONSECUTIVO</th>
            <th>OBSERVACIONES</th>
            <th>LINEAS</th>
          </tr>
        </thead>
        <tr *ngFor="let item of listadoComprobantes" style="cursor: pointer;">
          <td (click)="passComprobante(item)">{{item.date}}</td>
          <td (click)="passComprobante(item)">{{item.name}}</td>
          <td (click)="passComprobante(item)">{{item.number}}</td>
          <td (click)="passComprobante(item)">{{item.observations}}</td>
          <td (click)="passComprobante(item)">{{item.items.length}}</td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</mat-card>