<mat-toolbar class="toolbar">
    <button *ngIf="identity && pOperacion._id" mat-button [matMenuTriggerFor]="menuRef"><mat-icon class="mat-18">menu</mat-icon> <span>{{identity?.name}}</span> <span *ngIf="pOperacion._id" style="color: white; margin-left: 20px;">{{pOperacion.titulo}} <mat-icon style="color: grey;" (click)="cancelarOperacion()" *ngIf="identity.operaciones.length !=1">cancel</mat-icon>  </span></button>
  <span class="example-spacer"></span>
  <span>DFP App 1.5.3</span>
  <mat-icon *ngIf="Online == true " style="color:green; margin-left:10px; margin-right:10px;" matTooltip="En Línea" >wifi</mat-icon>
  <mat-icon *ngIf="Online == false " style="color:red; margin-left:10px; margin-right:10px;" matTooltip="Sin Conexiòn" >signal_wifi_off</mat-icon>
</mat-toolbar>
<mat-menu #menuRef="matMenu">
  <button *ngIf="identity" mat-menu-item  routerLink="../" style="display: flex;">
    <img style="width: 50px; margin-top: 5px;" src="assets/house.svg" >
    <span style="margin-left: 10px;">Inicio</span>
  </button>
  <span *ngIf="identity">
    <ng-template let-item let-last="last" ngFor [ngForOf]="identity.modulos">
      <button mat-menu-item  routerLink="../{{item.link}}" style="display: flex;">
        <img style="width: 50px; margin-top: 5px;" src="/assets/{{item.img}}">
        <span style="margin-left: 10px;"> {{item.titulo}}</span>
      </button>
      <mat-divider></mat-divider>
    </ng-template>
  </span>

  <!-- <button mat-menu-item  routerLink="/">
      <mat-icon class="mat-18">home</mat-icon>  
      INICIO
    </button>
    <button mat-menu-item  routerLink="/Configuracion">
        <mat-icon class="mat-18">settings</mat-icon>  
        CONFIGURACION
    </button>
    <button mat-menu-item  routerLink="/Users">
        <mat-icon class="mat-18">group</mat-icon>  
        USUARIOS
    </button>
    <button mat-menu-item routerLink="/Pass">
      <mat-icon class="mat-18">lock</mat-icon>CAMBIAR CONTRASEÑA
    </button>
    <button mat-menu-item routerLink="/import-Data">
      <mat-icon class="mat-18">cloud_upload</mat-icon>IMPORTAR DATOS
    </button> 
    <button mat-menu-item routerLink="/Data-Base">
      <mat-icon class="mat-18">note</mat-icon>REGISTROS
    </button> -->
  <button  mat-menu-item  (click)="Logout()">
      <mat-icon class="mat-18">close</mat-icon>  
      CERRAR SESIÓN
  </button>  
</mat-menu>
