<mat-progress-bar mode="indeterminate" *ngIf="log" ></mat-progress-bar> 
<div style="display: flex; justify-content: center;">
  <button mat-button [matMenuTriggerFor]="menuRef"><mat-icon class="mat-18">menu</mat-icon> <span>Colecciones</span> </button>

  <mat-menu #menuRef="matMenu">
    <ng-template let-doc let-i="index" ngFor [ngForOf]="collections">
        <button *ngIf="doc != 'users' && doc != 'documentos' && doc != 'operaciones' && doc != 'Presupuestos'  && doc != 'Config'" mat-menu-item (click)="passDataCollections(doc)">
            <mat-icon class="mat-18">check</mat-icon>  
            {{doc}}   
        </button>
    </ng-template> 
  </mat-menu>
</div>

<!-- <div *ngIf="presupuesto._id" style="width: 90%; margin: 0 auto; " class="mat-elevation-z8">
  
  <mat-accordion *ngIf="presupuesto.tiendas.length != 0">
    <mat-expansion-panel hideToggle *ngFor="let item of presupuesto.tiendas">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.tienda}} Participacion {{item.part}}% PPTO $ {{ item.presupuesto_usd  | number:'0.0-0'}} USD $ {{ item.usd  | number:'0.0-0'}} <span>  CUMP {{ (item.usd / item.presupuesto_usd)  *100 | number:'0.0-2'}}%</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <table style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
          <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
          <tr>
            <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.usd  | number:'0.0-2'}}</span></td>
            <td> Presupuesto USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.presupuesto_usd  | number:'0.0-2'}}</span></td>
            <td> Cumplimiento </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{ (item.usd / item.presupuesto_usd)  *100 | number:'0.0-2'}}%</span></td>
          </tr>
          </thead>
        </table>
        <table style="width: 90%; margin: 0 auto;font-size: 1.3em;" class="mat-elevation-z8">
          <thead>
            <th>CATEGORÍA</th>
            <th>% PART</th>
            <th>PPTO</th>
            <th>VENTAS</th>
            <th>RESTA</th>
            <th>%CUMPLIM</th>
          
          </thead>
       
          <tbody *ngFor="let cat of item.ptto" style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
            <tr>
              <td>{{cat.titulo}}</td>
              <td style="text-align: center;">{{cat.participacion  | number:'0.0-2'}}%</td>
              <td style="text-align:right;">{{cat.presupuesto_usd | number:'0.0-0'}}</td>
              <td style="text-align:right;">{{cat.ventas | number:'0.0-0'}}</td>
              <td style="text-align:right;">{{cat.ventas - cat.presupuesto_usd  | number:'0.0-2'}}</td>
              <td [class._50]="(cat.ventas / cat.presupuesto_usd) <= 0.80" [class._90]="(cat.ventas / cat.presupuesto_usd) >= 0.80 && (cat.ventas / cat.presupuesto_usd) <= 0.99" [class._100]="(cat.ventas / cat.presupuesto_usd) >= 1">{{(cat.ventas / cat.presupuesto_usd)*100  | number:'0.0-2'}} %</td>
             
            </tr>
          </tbody>
        </table> 
      </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->


<div *ngIf="presupuesto._id">
    <h3 style="text-align: center;">CUMPLIMIENTO PRESUPUESTAL {{coleccion}} DIA {{dia}}</h3>
    <mat-card-content style="margin-top: 10px; text-align: center; width: 90%; margin: 0 auto; ">
        <form #loginForm="ngForm" *ngIf="totalCoisiones != 0">
          <div layout="row">
            <mat-form-field style="width: 60%; text-align: center; font-size: 1.5em;">
              <input  matInput   placeholder="Identificacion" type="number" name="ad" [(ngModel)]="ad"  required>
            </mat-form-field>
            <mat-form-field style="width: 30%; text-align: center; font-size: 1.5em;">
              <input  matInput   placeholder="Clave" type="password" name="clave" [(ngModel)]="clave" (change)="buscarCedula(ad)" required>
            </mat-form-field>
          </div>
          <!-- <div layout="row">
            <mat-form-field style="width: 90%; text-align: center">
              <input matInput #userEmailElement #userEmailControl="ngModel"  placeholder="codigo" type="number" name="useremail" [(ngModel)]="codigo" required>
            </mat-form-field>
          </div> -->
         </form>
        <div id="invalid-auth-msg" *ngIf="invalidError" class="tc-red-600 text-center" flex>The username or password is incorrect. Please try again.</div>
      <mat-divider></mat-divider>
      <!-- <mat-card-actions style=" display: flex; justify-content: center;">
        <button flex mat-raised-button color="accent" [disabled]="" (click)="getDataCollectionVendedor()" class="text-upper">VER RESULTADO <mat-icon layout-padding>send</mat-icon></button>
      </mat-card-actions>  -->
    </mat-card-content>

</div>    
<!-- this.presupuesto.vendedores[pos] -->
<div>
  <!-- <h1 style="text-align: center;" > {{presupuesto.tiendas.length}} TIENDAS</h1>
  <h2 style="text-align: center;"> {{presupuesto.vendedores.length}} VENDEDORES $ {{presupuesto.ventas_usd |  number:'0.0-2'}} COMISION {{(totalCoisiones / presupuesto.ventas_usd)* 100 |  number:'0.0-2'}}% $  {{totalCoisiones |  number:'0.0-2'}} COP {{totalCoisionesCOP  |  number:'0.0-0'}}</h2>
  <h1 style="text-align: center;">  {{ totalCoisionesCOP / totalCoisiones |  number:'0.0-2'}}  </h1> -->
      <mat-card-content *ngFor="let item of presupuesto.vendedores">
        <!-- *ngIf="item.identificacion == id "  -->
        <div *ngIf="item.identificacion == id ">
          <h1  style="text-align: center; margin: 10px 10px"> <span style="color: blue; margin-left: 10px; margin-right: 10px;">{{item.Cumplimiento * 100  | number:'0.0-2'}}%  </span>
            {{item.name}}  ROL {{item.rol}}  
          </h1>
          <mat-chip-list aria-label="Fish selection" style="display:flex;justify-content: center;">
            <mat-chip  color="accent" (click)="changePassVendedor()">
              <mat-chip-avatar>
                <mat-icon>password</mat-icon>
            </mat-chip-avatar>
              Clave
            </mat-chip>
            <mat-chip color="warn" *ngIf="acumulado" (click)="acumulador()">
              <mat-chip-avatar>
                <img src="assets/metas.svg" alt="Photo of a Shiba Inu"/>
            </mat-chip-avatar>
              ACUMULADO</mat-chip>
              <mat-chip color="warn" *ngIf="!acumulado" (click)="acumulador()">
                <mat-chip-avatar>
                  <img src="assets/metas.svg" alt="Photo of a Shiba Inu"/>
              </mat-chip-avatar>
                TENDENCIA</mat-chip>
        
            
          </mat-chip-list>
          <div *ngIf="item.rol == 'Ventas'" style="display:flex;flex-direction: column;">
           
            <div *ngIf="acumulado">
              <table style="width: 90%; margin: 0 auto; font-size: 1.3em;" class="mat-elevation-z8">
                <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                <tr>
                  <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.Ventas  | number:'0.0-2'}}</span></td>
                  <td> PPTO USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.USD  | number:'0.0-2'}}</span></td>
                  <!-- <td> % </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.Cumplimiento * 100  | number:'0.0-2'}}%</span></td> -->
                </tr>
                <tr>
                  <td>Comisiones USD</td> 
                  <td style="text-align: center;"><span style="color: chartreuse;">{{item.Comisiones  | number:'0.0-2'}}</span></td>
                  <td style="text-align: center;"> CUMPLIMIENTO %</td> 
                  <td style="text-align: center;"><span style="color: chartreuse;"> {{item.Cumplimiento * 100  | number:'0.0-2'}}%</span></td>
                  <!-- <td>
                    <button mat-button><mat-icon>person</mat-icon></button>
            
                  </td> -->
                </tr>
                <tr>
                  <td>Comisiones COP <span style="flex: 1 1 auto;"></span> <span style="color: chartreuse; "> TRM {{item.ComisionesCop / item.Comisiones | number:'0.0-0' }}</span></td> 
                  <td style="text-align: center;"><span style="color: chartreuse;">{{item.ComisionesCop | number:'0.0-0'}}</span></td>
                  <td style="text-align: center;"> (Comision / Ventas) %</td> 
                  <td style="text-align: center;"><span style="color: chartreuse;"> {{(item.Comisiones / item.Ventas)* 100   | number:'0.0-2'}} %</span></td>
                </tr>
                </thead>
              </table>
            <table style="width: 90%; margin: 0 auto; overflow-x: scroll;" class="mat-elevation-z8">
              <thead>
                <th>CATEGORÍA</th>
                <th>% PART</th>
                <th>PPTO</th>
                <th>VENTAS</th>
                <th>RESTA</th>
                <th>%CUMPLIM</th>
                <th>% COMISIÓN </th>
                <th>COMISIÓN USD</th>
                <!-- <th>COMISIÓN COP</th> -->
              </thead>
              <tbody *ngFor="let cat of item.categorias" style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                <tr>
                  <td>{{cat.titulo}}</td>
                  <td style="text-align: center;">{{cat.participacion  | number:'0.0-2'}}%</td>
                  <td style="text-align:right;">{{cat.presupuesto_usd | number:'0.0-0'}}</td>
                  <td style="text-align:right;">{{cat.ventas | number:'0.0-0'}}</td>
                  <td style="text-align:right;">{{cat.ventas - cat.presupuesto_usd  | number:'0.0-2'}}</td>
                  <td [class._50]="(cat.ventas / cat.presupuesto_usd) <= 0.80" [class._90]="(cat.ventas / cat.presupuesto_usd) >= 0.80 && (cat.ventas / cat.presupuesto_usd) <= 0.999" [class._100]="(cat.ventas / cat.presupuesto_usd) >= 1">{{(cat.ventas / cat.presupuesto_usd)*100  | number:'0.0-2'}} %</td>
                  <td style="text-align: center;">{{(cat.comisionesUsd / cat.ventas)*100 | number:'0.0-2'}}%</td>
                  <td style="text-align:right;">{{cat.comisionesUsd | number:'0.0-0'}}</td>
                  <!-- <td style="text-align:right;">{{cat.comisionesCop | number:'0.0-0'}}</td> -->
                </tr>
              </tbody>
            </table> 
            
              <div style="width: 90%; margin: 0 auto;">
                <ngx-charts-bar-horizontal-2d
                [view]="viewBa"
                [scheme]="colorScheme"
                [results]="multy"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
              </ngx-charts-bar-horizontal-2d>
              </div> 
            </div>
            <div *ngIf="!acumulado">
              <table style="width: 90%; margin: 0 auto; font-size: 1.3em;" class="mat-elevation-z8">
                <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                <tr>
                  <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{(item.Ventas/ dia)* presupuesto.dias  | number:'0.0-2'}}</span></td>
                  <td> PPTO USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{(item.USD/ dia)* presupuesto.dias  | number:'0.0-2'}}</span></td>
                  <!-- <td> % </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.Cumplimiento * 100  | number:'0.0-2'}}%</span></td> -->
                </tr>
                <tr>
                  <td>Comisiones USD</td> 
                  <td style="text-align: center;"><span style="color: chartreuse;">{{(item.Comisiones/ dia)* presupuesto.dias  | number:'0.0-2'}}</span></td>
                  <td style="text-align: center;"> CUMPLIMIENTO %</td> 
                  <td style="text-align: center;"><span style="color: chartreuse;"> {{(item.Cumplimiento/ dia)* presupuesto.dias * 100  | number:'0.0-2'}}%</span></td>
                  <!-- <td>
                    <button mat-button><mat-icon>person</mat-icon></button>
            
                  </td> -->
                </tr>
                <tr>
                  <td>Comisiones COP <span style="flex: 1 1 auto;"></span> <span style="color: chartreuse; "> TRM {{((item.ComisionesCop / dia)* presupuesto.dias) / ((item.Comisiones/ dia)* presupuesto.dias) | number:'0.0-0' }}</span></td> 
                  <td style="text-align: center;"><span style="color: chartreuse;">{{(item.ComisionesCop/ dia)* presupuesto.dias  | number:'0.0-0'}}</span></td>
                  <td style="text-align: center;"> (Comision / Ventas) %</td> 
                  <td style="text-align: center;"><span style="color: chartreuse;"> {{((item.Comisiones/ dia)* presupuesto.dias) / ((item.Ventas/ dia)* presupuesto.dias)* 100   | number:'0.0-2'}} %</span></td>
                </tr>
                </thead>
              </table>
            <table   style="width: 90%; margin: 0 auto; overflow-x: scroll;" class="mat-elevation-z8">
              <thead>
                <th>CATEGORÍA</th>
                <th>% PART</th>
                <th>PPTO</th>
                <th>VENTAS</th>
                <th>RESTA</th>
                <th>%CUMPLIM</th>
                <th>$ PROYECTADO </th>
                <th>% ESPERADO</th>
              </thead>
              <tbody *ngFor="let cat of item.categorias" style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                <tr>
                  <td>{{cat.titulo}}</td>
                  <td style="text-align: center;">{{cat.participacion  | number:'0.0-2'}}%</td>
                  <td style="text-align:right;">{{(cat.presupuesto_usd / dia)* presupuesto.dias | number:'0.0-0'}}</td>
                  <td style="text-align:right;">{{(cat.ventas / dia)* presupuesto.dias | number:'0.0-0'}}</td>
                  <td style="text-align:right;">{{((cat.ventas/ dia)* presupuesto.dias) - ((cat.presupuesto_usd / dia)* presupuesto.dias)  | number:'0.0-2'}}</td>
                  <td [class._50]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) <= 0.80" [class._90]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) >= 0.80 && (cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) <= 0.99" [class._100]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) >= 1">{{(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia) )*100  | number:'0.0-2'}} %</td>
                  <td style="text-align: center;">{{(cat.ventas / dia)* presupuesto.dias | number:'0.0-0'}}</td>
                  <td style="text-align:right;" [class._50]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) <= 0.80" [class._90]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) >= 0.80 && (cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) <= 0.99" [class._100]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) >= 1">{{(((cat.ventas / dia)* presupuesto.dias)/ cat.presupuesto_usd)* 100 | number:'0.0-2'}}%</td>
                </tr>
              </tbody>
            </table> 
            <div style="width: 90%; margin: 0 auto;">
              <ngx-charts-bar-horizontal-2d
              [view]="viewBa"
              [scheme]="colorScheme"
              [results]="multy2"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-horizontal-2d>
            </div> 
          </div>
          
          </div>
          <div *ngIf="item.rol != 'Ventas'">
            <div *ngIf="acumulado">
              <div style="width: 90%; margin: 0 auto; " class="mat-elevation-z8">
                <h1 style="text-align: center;"> {{item.categorias.length}} TIENDAS</h1>
                <table style="width: 90%; margin: 0 auto; font-size: 1.3em;" class="mat-elevation-z8">
                  <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                  <tr>
                    <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.Ventas  | number:'0.0-2'}}</span></td>
                    <td> PPTO USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.USD  | number:'0.0-2'}}</span></td>
                    <!-- <td> % </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.Cumplimiento * 100  | number:'0.0-2'}}%</span></td> -->
                  </tr>
                  
                  <tr>
                    <td>Comisiones USD</td> 
                    <td style="text-align: center;"><span style="color: chartreuse;">{{item.Comisiones  | number:'0.0-2'}}</span></td>
                    <td style="text-align: center;"> CUMPLIMIENTO %</td> 
                    <td style="text-align: center;"><span style="color: chartreuse;"> {{item.Cumplimiento * 100  | number:'0.0-2'}}%</span></td>
                    <!-- <td>
                      <button mat-button><mat-icon>person</mat-icon></button>
              
                    </td> -->
                  </tr>
                  
                  <tr>
                    <td>Comisiones COP <span style="flex: 1 1 auto;"></span> <span style="color: chartreuse; "> TRM {{item.ComisionesCop / item.Comisiones | number:'0.0-0' }}</span></td> 
                    <td style="text-align: center;"><span style="color: chartreuse;">{{item.ComisionesCop  | number:'0.0-0'}}</span></td>
                    <td style="text-align: center;"> (Comision / Ventas) %</td> 
                    <td style="text-align: center;"><span style="color: chartreuse;"> {{(item.Comisiones / item.Ventas)* 100   | number:'0.0-2'}} %</span></td>
                  </tr>
                  </thead>
                </table>
                <mat-accordion *ngIf="item.categorias.length != 0">
                  <mat-expansion-panel hideToggle *ngFor="let itemT of presupuesto.tiendas">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{itemT.tienda}} Participacion {{itemT.part}}% PPTO $ {{ itemT.presupuesto_usd  | number:'0.0-0'}} USD $ {{ itemT.usd  | number:'0.0-0'}} <span>  CUMP {{ (itemT.usd / itemT.presupuesto_usd)  *100 | number:'0.0-2'}}%</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card-content>
                      <table style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
                        <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                        <tr>
                          <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{itemT.usd  | number:'0.0-2'}}</span></td>
                          <td> Presupuesto USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{itemT.presupuesto_usd  | number:'0.0-2'}}</span></td>
                          <td> Cumplimiento </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{ (itemT.usd / itemT.presupuesto_usd)  *100 | number:'0.0-2'}}%</span></td>
                        </tr>
                        <tr>
                          <td> Ventas COP </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{itemT.ventas_cop  | number:'0.0-2'}}</span></td>
                        </tr>
                        </thead>
                      </table>
                      <table style="width: 90%; margin: 0 auto;font-size: 1.3em;" class="mat-elevation-z8">
                        <thead>
                          <th>CATEGORÍA</th>
                          <th>% PART</th>
                          <th>PPTO</th>
                          <th>VENTAS</th>
                          <th>RESTA</th>
                          <th>%CUMPLIM</th>
                        
                        </thead>
                    
                        <tbody *ngFor="let cat of itemT.ptto" style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                          <tr>
                            <td>{{cat.titulo}}</td>
                            <td style="text-align: center;">{{cat.participacion  | number:'0.0-2'}}%</td>
                            <td style="text-align:right;">{{cat.presupuesto_usd | number:'0.0-0'}}</td>
                            <td style="text-align:right;">{{cat.ventas | number:'0.0-0'}}</td>
                            <td style="text-align:right;">{{cat.ventas - cat.presupuesto_usd  | number:'0.0-2'}}</td>
                            <td [class._50]="(cat.ventas / cat.presupuesto_usd) <= 0.80" [class._90]="(cat.ventas / cat.presupuesto_usd) >= 0.80 && (cat.ventas / cat.presupuesto_usd) <= 0.99" [class._100]="(cat.ventas / cat.presupuesto_usd) >= 1">{{(cat.ventas / cat.presupuesto_usd)*100  | number:'0.0-2'}} %</td>
                          
                          </tr>
                        </tbody>
                      </table> 
                    
                          <!-- <table *ngFor="let cat of item.ptto" style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
                            <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                          
                              <tr>
                                <td colspan="2"> {{cat.participacion}}% Categoria: {{cat.titulo}} $ {{cat.presupuesto_usd  | number:'0.0-0'}}
                        
                                </td>
                              </tr>
                              <tr>
                                <td>Presupuesto USD:  <span style="color: chartreuse;">{{cat.presupuesto_usd  | number:'0.0-0'}}</span></td>
                              
                              <td>USD Dia:  <span style="color: chartreuse;">{{cat.presupuesto_dia_usd  | number:'0.0-0'}}</span></td>
              
                              </tr>
                    
                            </thead>
                          </table>  -->
                
                
              
                    </mat-card-content>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div *ngIf="!acumulado">
              <div style="width: 90%; margin: 0 auto; " class="mat-elevation-z8">
                <h1 style="text-align: center;"> {{item.categorias.length}} TIENDAS </h1>
                <table style="width: 90%; margin: 0 auto; font-size: 1.3em;" class="mat-elevation-z8">
                  <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                  <tr>
                    <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{(item.Ventas /dia  ) * presupuesto.dias   | number:'0.0-2'}}</span></td>
                    <td> PPTO USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{ item.USD    | number:'0.0-0'}}</span></td>
                    <!-- <td> % </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{item.Cumplimiento * 100  | number:'0.0-2'}}%</span></td> -->
                  </tr>
                  <tr>
                    <td>Comisiones USD</td> 
                    <td style="text-align: center;"><span style="color: chartreuse;">{{(item.Comisiones / dia  ) * presupuesto.dias  | number:'0.0-2'}}</span></td>
                    <td style="text-align: center;"> CUMPLIMIENTO %</td> 
                    <td style="text-align: center;"><span style="color: chartreuse;"> {{(( (item.Ventas / dia  ) * presupuesto.dias ) / item.USD)* 100 | number:'0.0-2'}}%</span></td>
                    <!-- <td>
                      <button mat-button><mat-icon>person</mat-icon></button>
                    </td> -->
                  </tr>

                  <tr>
                    <td>Comisiones COP <span style="flex: 1 1 auto;"></span> <span style="color: chartreuse; "> TRM {{item.ComisionesCop / item.Comisiones | number:'0.0-0' }}</span></td> 
                    <td style="text-align: center;"><span style="color: chartreuse;">{{(item.ComisionesCop / dia  ) * presupuesto.dias  | number:'0.0-0'}}</span></td>
                    <td style="text-align: center;"> (Comision / Ventas) %</td> 
                    <td style="text-align: center;"><span style="color: chartreuse;"> {{((item.Comisiones/ dia  ) * presupuesto.dias) / ((item.Ventas / dia  ) * presupuesto.dias) * 100   | number:'0.0-2'}} %</span></td>
                  </tr>
                  </thead>
                </table>
                <mat-accordion *ngIf="item.categorias.length != 0">
                  <mat-expansion-panel hideToggle *ngFor="let itemT of presupuesto.tiendas">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{itemT.tienda}} Participacion {{itemT.part}}% PPTO $ {{ itemT.presupuesto_usd  | number:'0.0-0'}} USD $ {{ itemT.usd  | number:'0.0-0'}} <span>  CUMP {{ (itemT.usd / itemT.presupuesto_usd)  *100 | number:'0.0-2'}}%</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card-content>
                      <table style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
                        <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                        <tr>
                          <td> Ventas USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{itemT.usd  | number:'0.0-2'}}</span></td>
                          <td> Presupuesto USD </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{itemT.presupuesto_usd  | number:'0.0-2'}}</span></td>
                          <td> Cumplimiento </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{ (itemT.usd / itemT.presupuesto_usd)  *100 | number:'0.0-2'}}%</span></td>
                        </tr>
                        <tr>
                          <td> Ventas COP </td> <td style="text-align: center;"> <span style="color: chartreuse;">{{itemT.ventasCop  | number:'0.0-2'}}</span></td>
                          <td>  </td>
                           <td style="text-align: center;"> <span style="color: chartreuse;"></span></td>
                          <td></td>
                        </tr>
                        </thead>
                      </table>
                      <table style="width: 90%; margin: 0 auto;font-size: 1.3em;" class="mat-elevation-z8">
                        <thead>
                          <th>CATEGORÍA</th>
                          <th>% PART</th>
                          <th>PPTO</th>
                          <th>VENTAS</th>
                          <th>RESTA</th>
                          <th>%CUMPLIM</th>
                        </thead>
                    
                        <tbody *ngFor="let cat of itemT.ptto" style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                          <tr>
                            <td>{{cat.titulo}}</td>
                            <td style="text-align: center;">{{cat.participacion  | number:'0.0-2'}}%</td>
                            <td style="text-align:right;">{{(cat.presupuesto_usd / presupuesto.dias)* dia | number:'0.0-0'}}</td>
                            <td style="text-align:right;">{{cat.ventas | number:'0.0-0'}}</td>
                            <td style="text-align:right;">{{cat.ventas - ((cat.presupuesto_usd / presupuesto.dias)* dia)  | number:'0.0-2'}}</td>
                            <td style="text-align:right;" [class._50]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) <= 0.80" [class._90]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) >= 0.80 && (cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) <= 0.99" [class._100]="(cat.ventas / ((cat.presupuesto_usd / presupuesto.dias)* dia)) >= 1">{{(((cat.ventas / dia)* presupuesto.dias)/ cat.presupuesto_usd)* 100 | number:'0.0-2'}}%</td>
                          
                          </tr>
                        </tbody>
                      </table> 
                    
                          <!-- <table *ngFor="let cat of item.ptto" style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
                            <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                          
                              <tr>
                                <td colspan="2"> {{cat.participacion}}% Categoria: {{cat.titulo}} $ {{cat.presupuesto_usd  | number:'0.0-0'}}
                        
                                </td>
                              </tr>
                              <tr>
                                <td>Presupuesto USD:  <span style="color: chartreuse;">{{cat.presupuesto_usd  | number:'0.0-0'}}</span></td>
                              
                              <td>USD Dia:  <span style="color: chartreuse;">{{cat.presupuesto_dia_usd  | number:'0.0-0'}}</span></td>
              
                              </tr>
                    
                            </thead>
                          </table>  -->
                
                
              
                    </mat-card-content>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>

        </div>
      </mat-card-content>

</div>
<!--</mat-content>-->


