
<div >
    <h5 style="text-align: center;"> Cambiar Contraseña</h5>
    <mat-card-content style="margin-top: 10px; text-align: center; width: 90%; margin: 0 auto; ">
        <form #loginForm="ngForm">
 
          <div layout="row">
              <mat-form-field flex>
                <input matInput placeholder="Contraseña Actual" type="password" name="userpasswrd" [(ngModel)]="user.password" required>
              
              </mat-form-field>
            </div>
           <div layout="row">
              <mat-form-field flex>
                <input matInput placeholder="Nueva Contraseña" type="password" name="userpasswrd" [(ngModel)]="user.newpass" required>
             
              </mat-form-field>
            </div>
            <div layout="row">
              <mat-form-field flex>
                <input matInput placeholder="confirmar Nueva Contraseña" type="password" name="passConfirm" [(ngModel)]="user.confirm" required>
              </mat-form-field>
            </div>
         </form>
        <div id="invalid-auth-msg" *ngIf="invalidError" class="tc-red-600 text-center" flex>The username or password is incorrect. Please try again.</div>
      <mat-divider></mat-divider>
      <mat-card-actions style=" display: flex; justify-content: center;">
          <button flex mat-raised-button color="accent" [disabled]="!loginForm.form.valid || !isPasswordMach() " (click)="onSubmit()" class="text-upper">Cambiar Contraseña<mat-icon layout-padding>send</mat-icon></button>
      </mat-card-actions> 
    </mat-card-content>

</div>    
<!--</mat-content>-->


