<div style="display: flex; flex-wrap: wrap; justify-content: center;" class="mat-elevation-z8">
<button  (click)="cancelar()" mat-stroked-button aria-label="Clear" color="scondary" style="margin: 10px 10px;">
    <mat-icon>cancel</mat-icon> Cerrar
</button>
<button  (click)="getProveedores()" mat-stroked-button aria-label="Clear" color="scondary" style="margin: 10px 10px;">
  <mat-icon>listi</mat-icon> PROVEEDORRES
</button>
<button *ngIf="proveedor._id" (click)="deleteProveedor()" mat-stroked-button aria-label="Clear" color="scondary" style="margin: 10px 10px;">
  ELIMINAR  <mat-icon>delete</mat-icon>
</button>
<button  (click)="nuevo()" mat-stroked-button aria-label="Clear" color="scondary" style="margin: 10px 10px;">
  <mat-icon>group_add</mat-icon> NUEVO
</button>
<button *ngIf="proveedor.titulo" (click)="save()" mat-stroked-button aria-label="Clear" color="scondary" style="margin: 10px 10px;">
  <mat-icon>save</mat-icon> GUARDAR
</button>
<button *ngIf="proveedor._id" (click)="confirmar()" mat-stroked-button aria-label="Clear" color="scondary" style="margin: 10px 10px;">
  ASIGNAR  <mat-icon>send</mat-icon>
</button>
<mat-form-field style="margin-right: 20px; margin-top: 10px;" appearance="fill">
  <input  matInput type="text" placeholder="Buscar" style="text-align: center;" (change)="buscarProveedor()" [(ngModel)]="search">
  <button mat-icon-button matSuffix  (click)="buscarProveedor()">
    <mat-icon> search </mat-icon>
  </button>
</mat-form-field>

</div>

<div *ngIf="!verListado" class="mat-elevation-z8" style="margin-top: 15px; display: flex; justify-content: center; flex-wrap: wrap; padding: 10px;">
  <mat-progress-bar  *ngIf="register"  mode="determinate" [value]="(register/upload.length)"></mat-progress-bar>
  <!-- <ion-progress-bar></ion-progress-bar> -->
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Detalle cliente" style="width: 100%;">
  
  <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>NIT | ID</mat-label>
        <input matInput type="text" name="nit" [(ngModel)]="proveedor.nit">
      </mat-form-field>
      <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>EMPRESA</mat-label>
        <input matInput type="text" name="titulo" [(ngModel)]="proveedor.titulo">
      </mat-form-field>
      <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>CONTACTO</mat-label>
        <input matInput type="text" name="contacto" [(ngModel)]="proveedor.contacto">
      </mat-form-field>
      <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>CIUDAD</mat-label>
        <input matInput type="text" name="ciudad" [(ngModel)]="proveedor.ciudad">
      </mat-form-field>
      <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>DIRECCION</mat-label>
        <input matInput type="text" name="direccion" [(ngModel)]="proveedor.direccion">
      </mat-form-field>
      <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>TELEFONO</mat-label>
        <input matInput type="text" name="telefono" [(ngModel)]="proveedor.telefono">
      </mat-form-field>
      <mat-form-field style="margin-right: 20px;" appearance="fill">
        <mat-label>EMAIL</mat-label>
        <input matInput type="text" name="telefono" [(ngModel)]="proveedor.email">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Subir Proveedores" style="width: 100%;">
      <button  mat-stroked-button color="warn" (click)="exportexcel()" > Descarga Formato
        <mat-icon>attach_file</mat-icon>
      </button>
      <table  id="table-proveedores" style="display:none;" >
        <tr>
          <th>nit</th>
          <th>titulo</th>
          <th>contacto</th>
          <th>email</th>
          <th>telefono</th>
          <th>direccion</th>
        </tr>
      </table>

      <div *ngIf="!fileName">
        <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload style="display: none;">
          <div style="margin: 20px 20px;">
            <h3>{{fileName || "Proveedores"}}</h3>
            <button *ngIf="upload.length == 0" mat-stroked-button color="accent" class="upload-btn"
              (click)="fileUpload.click()"> ARCHIVO PROVEEDORES
                <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <button *ngIf="upload.length != 0" mat-stroked-button color="accent" class="upload-btn"
            (click)="subirProveedores()"> SUBIR {{upload.length}} PROVEEDORES
            <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
     
</div>
<div *ngIf="verListado" style="overflow-y: scroll; height: 80vh;">
  <table  style="margin: 0 auto;  width: 100%; font-size: 1em; margin-top: 15px;" class="mat-elevation-z8">
    <tr>
      <th>NIT | ID</th>
      <th>EMPRESA</th>
      <th>CIUDAD</th>
      <th>TELEFONO</th>
      <th>CONTACTO</th>
     
    </tr>
    <ng-template let-item let-i="index" ngFor [ngForOf]="proveedores">
      <tr (click)="pasProveedor(item)" class="over stripedd">
        <td>{{item.nit}}</td>
        <td>{{item.titulo}}</td>
        <td> {{item.ciudad}} </td>
        <td> {{item.telefono}} </td>
        <td> {{item.contacto}} </td>
      </tr>

    </ng-template>
  </table>
</div>



