
<mat-tab-group  mat-align-tabs="center">
  <mat-tab label="Listado Ventas">
    <mat-card-content>
      <div style="display:flex; justify-content: center; margin-top: 10px;">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha" name="fecha"  [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
       <button  mat-stroked-button  (click)="getCambioMesElectronicas()" class="bgc-blue-400 rigth" matTooltip="Buscar" matTooltipPosition="below">CONSULTAR <mat-icon>send</mat-icon></button>  
      </div>
     


    </mat-card-content>
  </mat-tab>
  <mat-tab label="Validar CUFE">
    <mat-card-content>
      <h1 style="text-align: center;">Validar Facturas Electrónicas</h1>
      <mat-card style="display: flex; flex-wrap: wrap; justify-content: center;">
      
        <mat-form-field style="width: 80%; text-align: center;">
          <input matInput placeholder="CUFE" type="text"  name="facturacionElectronicaset_pruebas" [(ngModel)]="cufe" required>
        </mat-form-field>
        <button  mat-stroked-button [disabled]="!cufe" (click)="getFacturacionStatus(cufe)" class="bgc-blue-400 rigth" matTooltip="Validar" matTooltipPosition="below">VALIDAR <mat-icon>send</mat-icon></button>  
        
        <div *ngIf="response" style="text-align: center; margin: 0 auto;">
          <h3>Es valido el Documento: <span style="color: blue;">{{response?.IsValid}}</span> </h3>
          <h3>Descripcion: <span style="color: blue;">{{response?.StatusDescription}}</span></h3>
          <h3>Estatus: <span style="color: blue;">{{response.StatusMessage}}</span></h3>
          <ng-template  let-element let-i="index" ngFor [ngForOf]="response.ErrorMessage.string" >
            <h5>{{i}} - {{element}}</h5>
          </ng-template>
        </div>
      
      </mat-card>
    </mat-card-content>
  </mat-tab>

</mat-tab-group>
