<mat-card>
  
  <mat-progress-bar mode="indeterminate" *ngIf="log" ></mat-progress-bar> 
  <mat-tab-group  mat-align-tabs="center">
    <mat-tab label="IMPORTAR CONTEO">
      <mat-card-content>
          <h2 style="text-align: center;">TOMAS DE INVENTARIOS
            <span>{{procesado}}</span>
          </h2>
      
          <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
            <mat-form-field appearance="fill">
              <mat-label>Tag Base Datos</mat-label>
            <mat-select [(ngModel)]="tag">
              <mat-option *ngFor="let item of config.inventarios" [value]="item.tag">
                {{item.tag}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
              <input *ngIf="tag" type="file" multiple="false" (change)="onFileChange($event)" style="font-size: 1.3em; margin-left: 10px;">
          </div>
          <button *ngIf="registros.length != 0" flex mat-raised-button color="accent" [disabled]="log"  (click)="subirConteo()" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px;">{{registros.length}} Subir Conteo <mat-icon>update_file</mat-icon></button>
          <span *ngIf="progreso != 0" style="color: blue;">{{progreso | number:'0.0-2'}}% </span> <mat-progress-bar *ngIf="progreso != 0" mode="determinate" [value]="progreso" color="accent" style="width: 90%; margin: 0 auto;"></mat-progress-bar>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="PANEL DE CONTEO">
      <mat-card-content>
        <div style="display: flex; justify-content: center; margin-top: 10px;">
          <mat-form-field appearance="fill">
            <mat-label>Tag Base Datos</mat-label>
            <mat-select [(ngModel)]="tag">
              <mat-option *ngFor="let item of config.inventarios" [value]="item.tag">
                {{item.tag}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
          <button *ngIf="tag"  flex mat-raised-button color="accent" [disabled]="progreso != 0"  (click)="getCnteoTag()" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px;">MONITOREO <mat-icon>tv</mat-icon></button>
        </div>
        <section *ngIf="conteo.length != 0" style="display: flex;justify-content: center;">
          <button style="margin-right:20px ;" mat-button mat-raised-button color="primary" (click)="estado = 'iguales'" [class.accent]="estado == 'iguales'">
            <mat-icon>done_all</mat-icon>
              Iguales
          </button>
          <button style="margin-right:20px ;" mat-button mat-raised-button color="primary" (click)="estado = 'faltantes'" [class.accent]="estado == 'faltantes'">
            <mat-icon>do_not_disturb_on</mat-icon>
            Faltantes
          </button>
          <button style="margin-right:20px ;" mat-button mat-raised-button color="primary" (click)="estado = 'sobrantes'" [class.accent]="estado == 'sobrantes'">
            <mat-icon>loupe</mat-icon>
            Sobrantes
          </button>
          <button style="margin-right:20px ;" mat-button mat-raised-button color="primary" (click)="estado = 'definitivas'" [class.accent]="estado == 'definitivas'">
            <mat-icon>adjust</mat-icon>
            Definitivos
          </button>
          <button style="margin-right:20px ;" mat-button mat-raised-button color="primary" (click)="estado = 'informe'" [class.accent]="estado == 'informe'">
            <mat-icon>auto_graph</mat-icon>
            Informe
          </button>
        </section>

      
        
        <div *ngIf="Iguales.length != 0 && estado == 'iguales'" >
          <h1 style="text-align:center;">SIN DIFERENCIA 
            <button *ngIf="Iguales.length != 0 " mat-button mat-raised-button color="accent" (click)="procesarIguales()">
              <mat-icon>adjust</mat-icon>
                Definitivos 
            </button>
            <button style="margin-left:  10px;" *ngIf="Iguales.length != 0 " mat-button mat-raised-button color="warn" (click)="procesarIgualesContar()">
              <mat-icon>playlist_add_check_circle</mat-icon>
                Recontar 
            </button>
          </h1>
          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
                <th>ITEMS</th>
                <td>{{Iguales.length  |  number:'0.0-0'}}</td>
                <th>Unds</th>
                <td>{{undIguales  |  number:'0.0-0'}}</td>
                <th>Costo USD</th>
                <td>{{usdIguales  |  number:'0.0-0'}}</td>
                <th>Costo COP</th>
                <td>{{copIguales  |  number:'0.0-0'}}</td>
              </tr>

            </thead>
          </table>

          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
                <th>
                   <span style="display:flex; align-items: center;">SKU
                  <mat-form-field style="text-align: center; color: black">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcSKU">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th > 
                  <span style="display:flex; align-items: center;">EAN 
                  
                  <mat-form-field style="text-align: center; color: black">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcEan">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th>CATEGORIA</th>
                <th>PRODUCTO</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                  EXISTENCIA
                  <button *ngIf="Iguales[0].Exist > Iguales[Iguales.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterExistIguales()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button *ngIf="Iguales[0].Exist < Iguales[Iguales.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterExistIguales()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
                </th>
                <th>CONTEO</th>
                <th>DIFERENCIA</th>
                <th>DETALLE</th>
                <th>COSTO USD</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                  COSTO COP
                  <button *ngIf="Iguales[0].COST_PROM > Iguales[Iguales.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPIguales()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button *ngIf="Iguales[0].COST_PROM < Iguales[Iguales.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPIguales()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
              </th>

              </tr>
            </thead>
            <tbody>
              <ng-template  let-element let-last="last" ngFor [ngForOf]="Iguales" >
                <tr *ngIf="searcSKU == '' && element.Codigo_3 == searcEan ||
                           searcEan  == '' && element.Codigo_1 == searcSKU ||
                           searcEan  == '' &&   searcSKU == ''   ">
                  <td> {{element.Codigo_1}}</td>
                  <td> {{element.Codigo_3}}</td>
                  <td> {{element.CLASS_DISCRIP}}</td>
                  <td> {{element.Descripcion_1}}</td>
                  <td style="text-align: center;"> {{element.Exist}}</td>
                  <td>   
                    <span class="selec" [matMenuTriggerFor]="menu" *ngIf="element.Conteo0.length != 0">
                    <mat-icon  > fullscreen </mat-icon>  {{cuantas(element.Conteo0)}}
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="passRegistro(element.Conteo0)">Ver Conteo</button>
                      <button mat-menu-item (click)="conteoDefinitivo(element)">Definitivo</button>
                      <button mat-menu-item (click)="conteo1(element)" *ngIf="element.Conteo1.length == 0">Conteo 1</button>
                      <button mat-menu-item (click)="conteo2(element)" *ngIf="element.Conteo1.length != 0 && element.Conteo2.length == 0 ">Conteo 2</button>
                      <button mat-menu-item (click)="conteo3(element)" *ngIf="element.Conteo2.length != 0 && element.Conteo3.length == 0">Conteo 3</button>
                      <button mat-menu-item (click)="conteo4(element)" *ngIf="element.Conteo3.length != 0 && element.Conteo4.length == 0">Conteo 4</button>
                    </mat-menu>
                  </span>
                  
                  </td>
                  <td [class._50]="cuantas(element.Conteo0) - element.Exist <= -1" [class._100]="cuantas(element.Conteo0) - element.Exist == 0"> {{cuantas(element.Conteo0) - element.Exist}} </td>
                  <td style="display: flex;">
                     <span class="selec" *ngIf="element.Definitivo.length != 0">
                       {{cuantas(element.Definitivo)}}
                      <mat-icon> done_all </mat-icon> 
                     </span>
                     <span  (click)="conteoDefinitivoDefinitivo(element.Conteo1, element._id, element)" class="selec" *ngIf="element.Conteo1.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo1)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo2, element._id, element)" class="selec" *ngIf="element.Conteo2.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo2)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo3, element._id, element)" class="selec" *ngIf="element.Conteo3.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo3)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo4, element._id, element)" class="selec"*ngIf="element.Conteo4.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo4)}}
                     </span>

                     <mat-menu #menudes="matMenu">
                      <button mat-menu-item (click)="passRegistro(element.Conteo0)">Ver Conteo</button>
                      <button mat-menu-item (click)="conteoDefinitivo(element)">Definitivo</button>
                      
                    </mat-menu>
                  </td>
                  <td style="text-align:right;">
                    {{element.Exist * element.ACTUAL_COST  |  number:'0.0-0'}}
                  </td>
                  <td style="text-align:right ;">
                    {{element.Exist * element.COST_PROM |  number:'0.0-0'}}
                  </td>
                  <!-- <td [class._50]="element.Definitivo.length - element.Exist <= -1" [class._100]="element.Definitivo.length - element.Exist == 0"> {{element.Definitivo.length - element.Exist}} </td> -->
                </tr>
              </ng-template>
           

            </tbody>

          </table>

        </div>

        <div *ngIf="Faltantes.length != 0 && estado == 'faltantes'" >
          <h1 style="text-align:center;">FALTANTES  {{Faltantes.length}} items 
          
            <button *ngIf="Faltantes.length != 0 " mat-button mat-raised-button color="accent" (click)="procesarFaltantes()">
              <mat-icon>adjust</mat-icon>
                Definitivos 
            </button>
            <button style="margin-left:  10px;" *ngIf="Faltantes.length != 0 " mat-button mat-raised-button color="warn" (click)="procesarFaltantesContar()">
              <mat-icon>playlist_add_check_circle</mat-icon>
                Recontar 
            </button>
          </h1>
          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
                <th>ITEMS</th>
                <td>{{Faltantes.length  |  number:'0.0-0'}}</td>
                <th>Unds</th>
                <td>{{undFaltantes  |  number:'0.0-0'}}</td>
                <th>Costo USD</th>
                <td>{{usdFaltantes  |  number:'0.0-0'}}</td>
                <th>Costo COP</th>
                <td>{{copFaltantes  |  number:'0.0-0'}}</td>
              </tr>

            </thead>
          </table>
          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
                <th>Check</th>
                <th>
                   <span style="display:flex; align-items: center;">SKU
                  <mat-form-field style="text-align: center; color: black;width: 90px;">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcSKU">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th > 
                  <span style="display:flex; align-items: center;">EAN 
                  
                  <mat-form-field style="text-align: center; color: black;width: 130px;">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcEan">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th>CATEGORIA</th>
                <th>PRODUCTO</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                    EXISTENCIA
                    <button *ngIf="Faltantes[0].Exist > Faltantes[Faltantes.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterEanFaltantes()">
                      <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button *ngIf="Faltantes[0].Exist < Faltantes[Faltantes.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterEanFaltantes()">
                      <mat-icon>arrow_downward</mat-icon>
                    </button>
                  </span>
                 
                </th>
                <th>CONTEO</th>
                <th>DIFERENCIA</th>
                <th>CONTEOS</th>
                <th>COSTO USD</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                  COSTO COP
                  <button *ngIf="Faltantes[0].COST_PROM > Faltantes[Faltantes.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPFaltantes()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button *ngIf="Faltantes[0].COST_PROM < Faltantes[Faltantes.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPFaltantes()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
                </th>
                <!-- <th>DEFINITIVO</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-template  let-element let-last="last" ngFor [ngForOf]="Faltantes" >
                <tr *ngIf="searcSKU == '' && element.Codigo_3 == searcEan ||
                searcEan  == '' && element.Codigo_1 == searcSKU ||
                searcEan  == '' &&   searcSKU == ''  ||
                element.Codigo_1 == searcSKU && element.Codigo_3 == searcEan">
                  <td>  <mat-checkbox class="example-margin" [(ngModel)]="element.check"></mat-checkbox></td> 
                  <td> {{element.Codigo_1}}</td>
                  <td> {{element.Codigo_3}}</td>
                  <td> {{element.CLASS_DISCRIP}}</td>
                  <td> {{element.Descripcion_1}}</td>
                  <td style="text-align: center;"> {{element.Exist}}</td>
                  <td>   
                    <span class="selec" [matMenuTriggerFor]="menu" *ngIf="element.Conteo0.length != 0">
                    <mat-icon  > fullscreen </mat-icon>  {{cuantas(element.Conteo0)}}
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="passRegistro(element.Conteo0)">Ver Conteo</button>
                      <button mat-menu-item (click)="conteoDefinitivo(element)">Definitivo</button>
                      <button mat-menu-item (click)="conteo1(element)" *ngIf="element.Conteo1.length == 0">Conteo 1</button>
                      <button mat-menu-item (click)="conteo2(element)" *ngIf="element.Conteo1.length != 0 && element.Conteo2.length == 0 ">Conteo 2</button>
                      <button mat-menu-item (click)="conteo3(element)" *ngIf="element.Conteo2.length != 0 && element.Conteo3.length == 0">Conteo 3</button>
                      <button mat-menu-item (click)="conteo4(element)" *ngIf="element.Conteo3.length != 0 && element.Conteo4.length == 0">Conteo 4</button>
                    </mat-menu>
                  </span>
                  
                  </td>
                  <td [class._50]="cuantas(element.Conteo0) - element.Exist <= -1" [class._100]="cuantas(element.Conteo0) - element.Exist == 0"> {{cuantas(element.Conteo0) - element.Exist}} </td>
                  <td style="display: flex;">
                    <!-- <span class="selec">
                     <mat-icon  (click)="passRegistro(element.Definitivo)">remove_red_eye</mat-icon> Ver
                    </span> -->
                     <span class="selec" *ngIf="element.Definitivo.length != 0">
                      {{cuantas(element.Definitivo)}}
                      <mat-icon> done_all </mat-icon> 
                     </span>
                     <span  (click)="conteoDefinitivoDefinitivo(element.Conteo1, element._id, element)" class="selec" *ngIf="element.Conteo1.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo1)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo2, element._id, element)" class="selec" *ngIf="element.Conteo2.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo2)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo3, element._id, element)" class="selec" *ngIf="element.Conteo3.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo3)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo4, element._id, element)" class="selec"*ngIf="element.Conteo4.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo4)}}
                     </span>
                  </td>
                  <td style="text-align:right;">
                    {{element.Exist * element.ACTUAL_COST  |  number:'0.0-0'}}
                  </td>
                  <td style="text-align:right ;">
                    {{element.Exist * element.COST_PROM |  number:'0.0-0'}}
                  </td>
                  <!-- <td [class._50]="element.Definitivo.length - element.Exist <= -1" [class._100]="element.Definitivo.length - element.Exist == 0"> {{element.Definitivo.length - element.Exist}} </td> -->
                </tr>
              </ng-template>
           

            </tbody>
          </table>
        </div>
        <div *ngIf="Sobrantes.length != 0 && estado == 'sobrantes'" >
          <h1 style="text-align:center;">SOBRANTES {{Sobrantes.length}} items
            <button *ngIf="Sobrantes.length != 0 " mat-button mat-raised-button color="accent" (click)="procesarSobrantes()">
              <mat-icon>adjust</mat-icon>
                Definitivos 
            </button>
            <button style="margin-left:  10px;" *ngIf="Sobrantes.length != 0 " mat-button mat-raised-button color="warn" (click)="procesarSobrantesContar()">
              <mat-icon>playlist_add_check_circle</mat-icon>
                Recontar 
            </button>
          </h1>
          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
                <th>ITEMS</th>
                <td>{{Sobrantes.length  |  number:'0.0-0'}}</td>
                <th>Unds</th>
                <td>{{undSobrantes  |  number:'0.0-0'}}</td>
                <th>Costo USD</th>
                <td>{{usdSobrantes  |  number:'0.0-0'}}</td>
                <th>Costo COP</th>
                <td>{{copSobrantes  |  number:'0.0-0'}}</td>
              </tr>

            </thead>
          </table>
          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
                <th>
                   <span style="display:flex; align-items: center;">SKU
                  <mat-form-field style="text-align: center; color: black">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcSKU">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th > 
                  <span style="display:flex; align-items: center;">EAN 
                  
                  <mat-form-field style="text-align: center; color: black">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcEan">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th>CATEGORIA</th>
                <th>PRODUCTO</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                  EXISTENCIA
                  <button *ngIf="Sobrantes[0].Exist > Sobrantes[Sobrantes.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterExistSobrantes()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button *ngIf="Sobrantes[0].Exist < Sobrantes[Sobrantes.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterExistSobrantes()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
                </th>
                <th>CONTEO</th>
                <th>DIFERENCIA</th>
                <th>DETALLE</th>
                <th>COSTO USD</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                  COSTO COP
                  <button *ngIf="Sobrantes[0].COST_PROM > Sobrantes[Sobrantes.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPSobrantes()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button *ngIf="Sobrantes[0].COST_PROM < Sobrantes[Sobrantes.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPSobrantes()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
              </th>
              </tr>
            </thead>
            <tbody>
              <ng-template  let-element let-last="last" ngFor [ngForOf]="Sobrantes" >
                <tr>
                  <td> {{element.Codigo_1}}</td>
                  <td> {{element.Codigo_3}}</td>
                  <td> {{element.CLASS_DISCRIP}}</td>
                  <td> {{element.Descripcion_1}}</td>
                  <td style="text-align: center;"> {{element.Exist}}</td>
                  <td>   
                    <span class="selec" [matMenuTriggerFor]="menu" *ngIf="element.Conteo0.length != 0">
                    <mat-icon  > fullscreen </mat-icon>  {{cuantas(element.Conteo0)}}
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="passRegistro(element.Conteo0)">Ver Conteo</button>
                      <button mat-menu-item (click)="conteoDefinitivo(element)">Definitivo</button>
                      <button mat-menu-item (click)="conteo1(element)" *ngIf="element.Conteo1.length == 0">Conteo 1</button>
                      <button mat-menu-item (click)="conteo2(element)" *ngIf="element.Conteo1.length != 0 && element.Conteo2.length == 0 ">Conteo 2</button>
                      <button mat-menu-item (click)="conteo3(element)" *ngIf="element.Conteo2.length != 0 && element.Conteo3.length == 0">Conteo 3</button>
                      <button mat-menu-item (click)="conteo4(element)" *ngIf="element.Conteo3.length != 0 && element.Conteo4.length == 0">Conteo 4</button>
                    </mat-menu>
                  </span>
                  
                  </td>
                  <td [class._50]="cuantas(element.Conteo0) - element.Exist <= -1" [class._100]="cuantas(element.Conteo0) - element.Exist == 0"  [class._90]="cuantas(element.Conteo0) - element.Exist >= 1"> {{cuantas(element.Conteo0) - element.Exist}} </td>
                  <td style="display: flex;">
                   
                     <span class="selec" *ngIf="element.Definitivo.length != 0"  (click)="passRegistro(element.Definitivo)">
                      {{cuantas(element.Definitivo)}}
                      <mat-icon> done_all </mat-icon> 
                     </span>
                     <span  (click)="conteoDefinitivoDefinitivo(element.Conteo1, element._id, element)" class="selec" *ngIf="element.Conteo1.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo1)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo2, element._id, element)" class="selec" *ngIf="element.Conteo2.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo2)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo3, element._id, element)" class="selec" *ngIf="element.Conteo3.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo3)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo4, element._id, element)" class="selec"*ngIf="element.Conteo4.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo4)}}
                     </span>
                  </td>
                  <td style="text-align:right;">
                    {{element.Exist * element.ACTUAL_COST  |  number:'0.0-0'}}
                  </td>
                  <td style="text-align:right ;">
                    {{element.Exist * element.COST_PROM |  number:'0.0-0'}}
                  </td>
                  <!-- <td [class._50]="element.Definitivo.length - element.Exist <= -1" [class._100]="element.Definitivo.length - element.Exist == 0"> {{element.Definitivo.length - element.Exist}} </td>  -->
                </tr>
              </ng-template>
            </tbody>
          </table>

        </div>
        <div *ngIf="conteo.length != 0 && estado == 'definitivas'" >
          <h1 style="text-align:center;">DEFINITIVOS {{Definitivas.length}} items</h1>
          <table class="mat-elevation-z8" style="margin: 0 auto;">
            <thead style="padding: 15px; font-size: 1em; border-radius: 10px;">
              <tr>
               
                <th>
                   <span style="display:flex; align-items: center;">SKU
                  <mat-form-field style="text-align: center; color: black;width: 90px;">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcSKU">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th > 
                  <span style="display:flex; align-items: center;">EAN 
                  
                  <mat-form-field style="text-align: center; color: black;width: 130px;">
                    <input matInput  type="text" name="unds" [(ngModel)]="searcEan">
                    <button  matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </span> 
                </th>
                <th>CATEGORIA</th>
                <th>PRODUCTO</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                    EXISTENCIA
                    <button *ngIf="Definitivas[0].Exist > Definitivas[Definitivas.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterEanFaltantes()">
                      <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button *ngIf="Definitivas[0].Exist < Definitivas[Definitivas.length-1].Exist" mat-icon-button aria-label="Clear" (click)="filterEanFaltantes()">
                      <mat-icon>arrow_downward</mat-icon>
                    </button>
                  </span>
                 
                </th>
                <th>CONTEO</th>
                <th>DIFERENCIA</th>
                <th>CONTEOS</th>
                <th>COSTO USD</th>
                <th>
                  <span style="display:flex; justify-content: center; align-items: center;">
                  COSTO COP
                  <button *ngIf="Definitivas[0].COST_PROM > Definitivas[Definitivas.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPFaltantes()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button *ngIf="Definitivas[0].COST_PROM < Definitivas[Definitivas.length-1].COST_PROM" mat-icon-button aria-label="Clear" (click)="filterCOPFaltantes()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
                </th>
                <!-- <th>DEFINITIVO</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-template  let-element let-last="last" ngFor [ngForOf]="Definitivas" >
                <tr *ngIf="searcSKU == '' && element.Codigo_3 == searcEan ||
                searcEan  == '' && element.Codigo_1 == searcSKU ||
                searcEan  == '' &&   searcSKU == ''  ||
                element.Codigo_1 == searcSKU && element.Codigo_3 == searcEan">
                  <td> {{element.Codigo_1}}</td>
                  <td> {{element.Codigo_3}}</td>
                  <td> {{element.CLASS_DISCRIP}}</td>
                  <td> {{element.Descripcion_1}}</td>
                  <td style="text-align: center;"> {{element.Exist}}</td>
                  <td>   
                    <span class="selec" *ngIf="element.Conteo != 0" (click)="passRegistro(element.Definitivo)">
                    <mat-icon  > fullscreen </mat-icon>  {{element.Conteo}}
                   
                  </span>
                  
                  </td>
                  <td [class._50]="element.Conteo - element.Exist <= -1" [class._100]="element.Conteo - element.Exist == 0"  [class._90]="element.Conteo - element.Exist >= 1"> {{element.Conteo - element.Exist}} </td>
               <td style="display: flex;">
                     <!-- <span (click)="passRegistro(element.Definitivo)" class="selec" *ngIf="element.Definitivo.length != 0">
                      {{cuantas(element.Definitivo)}}
                      <mat-icon> done_all </mat-icon> 
                     </span> -->
                     <span  (click)="conteoDefinitivoDefinitivo(element.Conteo1, element._id, element)" class="selec" *ngIf="element.Conteo1.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo1)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo2, element._id, element)" class="selec" *ngIf="element.Conteo2.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo2)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo3, element._id, element)" class="selec" *ngIf="element.Conteo3.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo3)}}
                     </span>
                     <span (click)="conteoDefinitivoDefinitivo(element.Conteo4, element._id, element)" class="selec"*ngIf="element.Conteo4.length != 0">
                      <mat-icon > fullscreen </mat-icon> {{cuantas(element.Conteo4)}}
                     </span>
                  </td>
                  <td style="text-align:right;">
                    {{element.Conteo * element.ACTUAL_COST  |  number:'0.0-0'}}
                  </td>
                  <td style="text-align:right ;">
                    {{element.Conteo * element.COST_PROM |  number:'0.0-0'}}
                  </td>
                  <!-- <td [class._50]="element.Definitivo.length - element.Exist <= -1" [class._100]="element.Definitivo.length - element.Exist == 0"> {{element.Definitivo.length - element.Exist}} </td> -->
                </tr>
              </ng-template>
           

            </tbody>

          </table>

        </div>
        <div *ngIf="conteo.length != 0 && estado == 'informe'">
            <p>informe</p>
        </div>

      </mat-card-content>
    </mat-tab>
    <mat-tab label="TOMA INVENTARIO">
      <mat-card-content style="display:flex;flex-wrap:wrap;justify-content: center; margin: 10px auto;">
        <mat-form-field appearance="fill">
          <mat-label>Tag Base Datos</mat-label>
        <mat-select [(ngModel)]="tag">
          <mat-option *ngFor="let item of config.inventarios" [value]="item.tag">
            {{item.tag}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <mat-form-field *ngIf="tag" appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px; width: 200px;">
        <input matInput placeholder="Ubicacion" type="text" name="ubicacion" [(ngModel)]="ubicacion">
      </mat-form-field>
      <mat-form-field *ngIf="tag" appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px; width: 200px;">
        <input matInput placeholder="Unds" type="number" name="unds" [(ngModel)]="unds">
      </mat-form-field>
        <mat-form-field *ngIf="ubicacion" appearance="fill" style="text-align: center; font-size: 1em; margin-right: 20px; width: 60%;">
          <input matInput placeholder="SCAN" type="number" #scanEle name="scan" [(ngModel)]="scan" (change)="saveScan()">
          <button *ngIf="scaner"  matSuffix mat-icon-button aria-label="Clear" (click)="scaner = !scaner">
            <mat-icon>qr_code_scanner</mat-icon>
          </button>
          <button *ngIf="!scaner" matSuffix mat-icon-button aria-label="Clear" (click)="scaner = !scaner">
            <mat-icon>document_scanner</mat-icon>
          </button>
        </mat-form-field>
        <button *ngIf="scan" flex mat-raised-button color="accent" [disabled]="log"  (click)="saveScan()" class="text-upper" style="width: 90%; margin:15px auto;margin-left: 20px;">Contar <mat-icon>send</mat-icon></button>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
