::ng-deep.mat-menu-panel {
    max-width: none !important;
  }
  
._100{
    background:rgb(7, 231, 7);
    text-align:center;
    color: black;
}

.accent{
    background:chartreuse;
    text-align:center;
    color: white;
}

._50{
    background:tomato;
    text-align:center;
    color: black;
}

._90{
    background:orange;
    text-align:center;
    color: black;
}

.selec:hover{
    cursor: pointer;
    color: blue;
    margin-left: 10px;
}

.selec{
    margin-left: 10px;
    /* display: flex; */
    align-items: center;
    text-align: center;
}

#faltantes{
    display: none;
    /* flex-direction: column; */
}

#sobrantes{
    display: none;
    /* flex-direction: column; */
}

#definitivos{
    display: none;
    /* flex-direction: column; */
}