<!-- <button  mat-mini-fab color="accent" [disabled]="" (click)="cancelar()" style="margin-right:10px;" ><mat-icon>close</mat-icon></button>  -->
<!-- <div>
    <ng-template let-doc let-i="index" ngFor [ngForOf]="values">
        <mat-form-field appearance="fill">
            <ng-template let-key let-x="index" ngFor [ngForOf]="keys">
                <mat-label *ngIf="x == i">{{key}}</mat-label>
            </ng-template>
            <input matInput placeholder="{{doc}}" value="{{doc}}">
        </mat-form-field>
    </ng-template>
</div> -->
<mat-card style="max-height: 85vh;overflow-y:scroll ;">
    <button  mat-button color="primary" [disabled]="" (click)="cancelar()" style="margin-right:10px;" ><mat-icon>cancel</mat-icon> Cerrar</button>
    <button *ngIf="data.coll != 'noting'" mat-button color="accent" [disabled]="" (click)="UpdateRegistro()" style="margin-right:10px;" ><mat-icon>save</mat-icon> Guardar</button>
    <!-- <button  *ngIf="data.coll != 'noting'" mat-button color="warn" [disabled]="" (click)="deleteRegistro()" style="margin-right:10px;" ><mat-icon>delete</mat-icon> Eliminar</button> -->
    
    <mat-form-field style="margin-right: 20px;" appearance="fill">
      <mat-label>Costo_de_v</mat-label>
      <input matInput type="number" [(ngModel)]="info.Costo_de_v">
    </mat-form-field>

    <mat-form-field style="margin-right: 20px;" appearance="fill">
      <mat-label>UNITCOST</mat-label>
      <input matInput type="number" [(ngModel)]="info.UNITCOST">
    </mat-form-field>
    
    <div *ngIf="config" style="display: flex; justify-content: center;">
        <mat-form-field appearance="fill" style="margin-right: 20px; width: 80%;">
          <mat-label>Vendedores</mat-label>
          <mat-select [(ngModel)]="newEmpleado" >
            <ng-template let-item let-i="index" ngFor [ngForOf]="config.empleados">
            <mat-option  [value]="item">
              {{ item.codigo }} - {{ item.name }} - {{ item.rol }}
            </mat-option>
            </ng-template>
          </mat-select>
        </mat-form-field>
        <button *ngIf="newEmpleado" mat-button (click)="addEmpleado()" ><mat-icon class="mat-18">add</mat-icon> <span>Agregar</span> </button> 
      </div>
    <json-editor [options]="editorOptions" [data]="info" (change)="getData($event)"></json-editor>
</mat-card>
