._100{
    background:rgba(6, 203, 6, 0.845);
    text-align:center;
    color: black;
}

#notaVenta{
    display: none;
}

.over:hover{
    background-color: rgba(128, 128, 128, 0.54);
    cursor: pointer;
}

.prod:hover{
    background-color: rgba(128, 128, 128, 0.54);
    cursor: pointer;
}