<mat-progress-bar mode="indeterminate" *ngIf="log" ></mat-progress-bar> 
<mat-tab-group  mat-align-tabs="center" [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)" >
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">data_exploration</mat-icon>
                PRESUPUESTO
          </ng-template>
          <div style="display: flex; justify-content: center;">
            <button *ngIf="presupuesto._id == ''" mat-button color="accent" [disabled]="" (click)="registerPresupuesto()" style="margin-right:10px;" ><mat-icon>save</mat-icon> Guardar</button>
            <button *ngIf="presupuesto._id != ''" mat-button color="accent" [disabled]="" (click)="updatePresupuesto()" style="margin-right:10px;" ><mat-icon>edit</mat-icon> Editar</button>
            <button *ngIf="presupuesto._id != ''" mat-button color="accent" [disabled]="" (click)="nuevoPresupuesto()" style="margin-right:10px;" ><mat-icon>add</mat-icon> Nuevo</button>
            <button *ngIf="presupuesto._id != ''" mat-button color="warn" [disabled]="" (click)="deleteRegistro()" style="margin-right:10px;" ><mat-icon>delete</mat-icon> Delete</button>
          </div>
          <mat-card class="mat-elevation-z8" style="width: 80%; text-align: center; margin: 0 auto;" >
            <!-- <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
              <mat-label>TRM Esperada</mat-label>
              <input matInput placeholder="TRM" type="number" name="trm" [(ngModel)]="trm">
            </mat-form-field> -->
            <mat-form-field appearance="fill" style="margin-right: 20px;">
              <mat-label>Tag Base Datos</mat-label>
              <mat-select [(ngModel)]="presupuesto.tag">
                <mat-option *ngFor="let item of config.tags" [value]="item.tag">
                  {{item.tag}}
                </mat-option>
              </mat-select>
            </mat-form-field>    
            <!-- <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                <mat-label>Tag Base Datos</mat-label>
                <input matInput placeholder="Data Base" type="text" name="tag" [(ngModel)]="presupuesto.tag">
              </mat-form-field> -->
              <mat-form-field (change)="cambiarCop()" appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px; margin-right: 20px;">
                <mat-label>Presupuesto USD</mat-label>
                <input matInput placeholder="Ventas USD" type="number" name="presupuesto_usd" [(ngModel)]="presupuesto.presupuesto_usd">
              </mat-form-field>
              <!-- <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                <mat-label>Presupuesto COP</mat-label>
                <input matInput placeholder="Ventas COP" type="number" name="presupuesto_cop" [(ngModel)]="presupuesto.presupuesto_cop">
              </mat-form-field> -->
            
              <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                <mat-label>Dias Periodo</mat-label>
                <input matInput [disabled]="presupuesto.presupuesto_usd == 0" placeholder="Ventas USD" type="number" name="dias" [(ngModel)]="presupuesto.dias">
              </mat-form-field>
              <!-- <input type="file" multiple="false" (change)="onFileChange($event)" style="font-size: 1.3em;"> -->

              <button *ngIf="!presupuesto._id" [disabled]="!presupuesto.dias" mat-raised-button color="accent" [disabled]="" (click)="Presupuestar()" style="margin-right:10px;" > Generar <mat-icon>send</mat-icon> </button>
              
              <table *ngIf="presupuesto.presupuesto_dia_usd != 0" style="width: 90%; margin: 0 auto; font-size: 1.3em;" class="mat-elevation-z8">
                <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                  <tr>
                    <td>Presupuesto USD Dia: <span style="color: chartreuse;">{{presupuesto.presupuesto_dia_usd  | number:'0.0-0'}}</span> </td>
                    <td>Presupuesto COP Dia: <span style="color: chartreuse;">{{presupuesto.presupuesto_dia_cop  | number:'0.0-0'}}</span></td>
                  </tr>
                  <tr>
                    <td>Capacidad Programada:  
                      <mat-form-field appearance="fill" style=" color: chartreuse;text-align: center; font-size: 0.7em; margin-right: 20px;">
                        <mat-label>Turnos</mat-label>
                        <input   matInput  placeholder="" type="number" name="capacidadVentas" [(ngModel)]="presupuesto.capacidadVentasEsperada">
                      </mat-form-field> 
                    </td>
                    <td>Venta TURNO <span style="color: chartreuse;">{{presupuesto.presupuesto_usd / presupuesto.capacidadVentasEsperada  | number:'0.0-0'}}</span></td>
                  </tr>
                  <tr>
                    <td>Capacidad Real:  
                      <span style="color: chartreuse;">{{presupuesto.capacidadVentas  | number:'0.0-0'}}</span>
                    </td>
                    <td>Venta TURNO <span style="color: chartreuse;">{{presupuesto.presupuesto_usd / presupuesto.capacidadVentas | number:'0.0-0'}}</span></td>
                  </tr>
                  <tr>
                    <td>
                      PRESUPUESTO VENDEDORES
                    </td>
                    <td style="display:flex; justify-content:center; align-items:center">
                      <span style="color: chartreuse;">{{presupuesto.presupuesto_vendedores | number:'0.0-0'}}</span>
                      <span style="color: orange; margin: 0 10px;display: flex; align-items: center;"> <mat-icon>bed</mat-icon>{{presupuesto.presupuesto_vendedores - presupuesto.presupuesto_usd | number:'0.0-0'}} </span>
                    </td>

                  </tr>
                  <tr *ngIf="catParticipacion != 0 ">
                    <td>Suma Participaciones <span style="color: red;">{{catParticipacion | number:'0.0-3'}}%</span></td>
                  </tr>
                </thead>
              </table>

              <mat-accordion *ngIf="presupuesto.presupuesto_dia_usd != 0">
                <mat-expansion-panel hideToggle *ngFor="let item of presupuesto.categorias">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     {{item.participacion}}% Categoria: {{item.titulo}} $ {{item.presupuesto_usd  | number:'0.0-0'}}
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <mat-card-content>
                    <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                        <mat-label>Participacion %</mat-label>
                        <input matInput placeholder="Participacion" type="number" name="dias" [(ngModel)]="item.participacion" (change)="cambioParticipacion(item)">
                      </mat-form-field> 
                  </mat-card-content>
                  <table style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
                    <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                      <tr>
                        <td>Presupuesto USD:  <span style="color: chartreuse;">{{item.presupuesto_usd  | number:'0.0-0'}}</span></td>
                        <td>Presupuesto COP:  <span style="color: chartreuse;">{{item.presupuesto_cop  | number:'0.0-0'}}</span></td>
                        
                        <td>USD Dia:  <span style="color: chartreuse;">{{item.presupuesto_usd  | number:'0.0-0'}}</span></td>
                        <td>COP Dia:  <span style="color: chartreuse;">{{item.presupuesto_dia_cop  | number:'0.0-0'}}</span></td>

                      </tr>
                   
                  
              
                    </thead>
                  </table> 
        
                </mat-expansion-panel>
               
              </mat-accordion>
              <h1  *ngIf="presupuesto.tiendas.length != 0"> {{presupuesto.tiendas.length}} TIENDAS  </h1>
              <mat-accordion *ngIf="presupuesto.tiendas.length != 0">
                <mat-expansion-panel hideToggle *ngFor="let item of presupuesto.tiendas">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{item.tienda}} Participacion {{item.part}}% PPTO $ {{item.presupuesto_usd  | number:'0.0-0'}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-card-content>
                    <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                      <mat-label>Participacion</mat-label>
                      <input  (change)="TotalizarTienda()" matInput  placeholder="%" type="number" name="participacion" [(ngModel)]="item.part">
                    </mat-form-field>  

                        <table style="width: 90%; margin: 0 auto;">
                          <!-- <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;"> -->
                            <tr>
                              
                              
                              <th>CATEGORIA</th>
                              <th>PART</th>
                              <th>PRESUPUESTO</th>

                            </tr>
                            <tr *ngFor="let cat of item.ptto">
                              
                              <td>
                                {{cat.titulo}} 
                              </td>
                              <td style="text-align:center ;"> 
                                {{cat.participacion}}% 
                              </td>
                              <td style="text-align:center ;">
                                $ {{cat.presupuesto_usd  | number:'0.0-0'}}
                              </td>
                            </tr>
                            <!-- <tr>
                              <td>Presupuesto USD:  <span style="color: chartreuse;">{{cat.presupuesto_usd  | number:'0.0-0'}}</span></td>
                            
                                <td>USD Dia:  <span style="color: chartreuse;">{{cat.presupuesto_dia_usd  | number:'0.0-0'}}</span></td>
  
                            </tr> -->
                  
                          <!-- </thead> -->
                        </table> 
              
               

                  </mat-card-content>
                </mat-expansion-panel>
              </mat-accordion>
              <h1 *ngIf="presupuesto.vendedores.length != 0"> {{presupuesto.vendedores.length}} VENDEDORES 
                <input type="text" placeholder="Buscar" style="font-size:x-large; text-align: center; margin: 0 10px;" [(ngModel)]="search">  
              </h1>
              <div *ngIf="presupuesto.vendedores.length != 0" style="display: flex; justify-content: center;">
                <mat-form-field appearance="fill" style="margin-right: 20px; width: 80%;">
                  <mat-label>LISTADO</mat-label>
                  <mat-select [(ngModel)]="newEmpleado">
                    <ng-template let-item let-i="index" ngFor [ngForOf]="config.empleados">
                    <mat-option *ngIf="verEmpleado(item)" [value]="item">
                      {{ item.codigo }} - {{ item.name }} - {{ item.rol }}
                    </mat-option>
                    </ng-template>
                  </mat-select>
                </mat-form-field>
                <button *ngIf="newEmpleado" mat-button (click)="addEmpleado()" ><mat-icon class="mat-18">add</mat-icon> <span>Agregar</span> </button> 
              </div>
             
             
              <mat-accordion *ngIf="presupuesto.vendedores.length != 0">
                <ng-template let-item let-i="index" ngFor [ngForOf]="presupuesto.vendedores">
                <mat-expansion-panel hideToggle *ngIf="buscarRegistro(item.name)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{i + 1}} - {{item.codigo}} - {{item.name}} <span style="color: rgb(8, 183, 8); margin: 0 10px;">Dias {{item.Dias}}</span> <span style="color: rgb(8, 183, 8); margin: 0 10px;"> PPTO $ {{item.USD  | number:'0.0-0'}} Pto Dia {{item.USD / item.Dias  | number:'0.0-0'}}</span>  rol  {{ item.rol }}
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <mat-card-content>
                    <mat-card-content>
                      <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                        <mat-label>Dias Programados</mat-label>
                        <input  (change)="TotalizarPtoEmpleado(item)" matInput  placeholder="Dias Programados" type="number" name="dias" [(ngModel)]="item.Dias">
                      </mat-form-field> 
                      <mat-form-field appearance="fill" style="text-align: center; font-size: 1.3em; margin-right: 20px;">
                        <mat-label>PPTO USD</mat-label>
                        <input  (change)="TotalizarPtoEmpleado(item)" matInput  placeholder="Dias Programados" type="number" name="dias" [(ngModel)]="item.USD">
                      </mat-form-field> 
                        <button   mat-button color="warn" [disabled]="" (click)="deleteEmpleado(i)" style="margin-right:10px;" ><mat-icon>delete</mat-icon> Eliminar</button>
                    </mat-card-content>
                    <mat-accordion>
                      <mat-expansion-panel hideToggle *ngFor="let cat of item.categorias">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                           {{cat.participacion}}% Categoria: {{cat.titulo}} $ {{cat.presupuesto_usd  | number:'0.0-0'}}
                          </mat-panel-title>
                          
                        </mat-expansion-panel-header>
                        <table style="width: 90%; margin: 0 auto;" class="mat-elevation-z8">
                          <thead style="background-color:rgb(63, 62, 62) ; color:white; padding: 15px; font-size: 1em; border-radius: 10px;">
                            <tr>
                              <td>Presupuesto USD:  <span style="color: chartreuse;">{{cat.presupuesto_usd  | number:'0.0-0'}}</span></td>
                            
                            <td>USD Dia:  <span style="color: chartreuse;">{{cat.presupuesto_dia_usd  | number:'0.0-0'}}</span></td>
      
                            </tr>
                          </thead>
                        </table> 
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-card-content>
                </mat-expansion-panel>
                </ng-template>
              </mat-accordion>
          </mat-card>
            <!-- <json-editor [options]="editorOptions" [data]="presupuesto" (change)="getData($event)"></json-editor> -->
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">indeterminate_check_box</mat-icon>
            ACTIVOS
        </ng-template>
        <mat-card-content>
          <mat-list>
            <div mat-subheader>Periodos</div>
            <mat-list-item *ngFor="let folder of presupuestos" style="cursor: pointer;">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line (click)="passPresupuesto(folder)">{{folder.tag}}</div>
              <div mat-line (click)="passPresupuesto(folder)"> {{folder.presupuesto_usd | number}} </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
<!--            
                <h1   *ngFor="let item of presupuestos">{{item.tag}}</h1> -->
        
        </mat-card-content>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">done_all</mat-icon>
            CERRADOS
        </ng-template>
    </mat-tab>
</mat-tab-group> 


